<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('银行卡列表列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台编码：</span>
                            <input type="text" name="bankcardId"/>
                        </li>
                        <li>
                            <span>码商账户：</span>
                            <input type="text" name="account"/>
                        </li>
                        <li>
                            <span>银行卡号：</span>
                            <input type="text" name="bankcardAccount"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add('qr')" shiro:hasPermission="qr:bankCard:add">
                <i class="fa fa-plus"></i> 添加
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    let removeFlag = [[${@permission.hasPermi('qr:bankCard:removeBlackList')}]];

    let prefix = ctx + "control/account";

    $(function () {
        var options = {
            url: prefix + "/bankCard/qr/list",
            createUrl: prefix + "/add/show/bankCard/page/{id}",
            removeUrl: prefix + "/remove/bankCard/qr",
            modalName: "码商银行卡黑名单",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '数据ID',
                    visible: false
                },
                {
                    field: 'bankcardId',
                    title: '平台编号'
                },
                {
                    field: 'account',
                    title: '码商账户'
                },
                {
                    field: 'bankcardAccount',
                    title: '银行卡号'
                },
                {
                    field: 'accountHolder',
                    title: '开户人'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if(row.status === 1){
                            return "<span>开启</span>"
                        }else if(row.status === 2){
                            return "<span>关闭</span>"
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>