<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户订单登记列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>下线账户：</span>
                            <input type="text" name="userName"/>
                        </li>
                        <li>
                            <span>订单状态：</span>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('orderStatus')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="alipay:orderApp:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    let prefix = ctx + "back/merchant/admin";
    let orderstatusDatas = [[${@dict.getType('orderStatus')}]];
    $(function () {
        var options = {
            url: prefix + "/agent/order/list",
            exportUrl: prefix + "/order/export",
            modalName: "下线订单记录",
            columns: [{
                checkbox: true
            },
                {field: 'orderAccount', title: '交易账号'},
                {field: 'userName', title: '商户昵称'},
                {field: 'appOrderId', title: '交易订单号'},
                {field: 'orderAmount', title: '交易金额'},
                {field: 'retain3', title: '结算手续费'},
                {field: 'retain1', title: '产品类型'},
                {
                    field: 'orderStatus', title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                {field: 'orderAmount', title: '订单金额 '}
          ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>