<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('银行卡列表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <span>银行卡号：</span>
                                <input type="text" name="bankcardAccount"/>
                            </li>
                            <li>
                                <p>状态</p>
                                <select name="status" th:with="type=${@dict.getType('orderStatusAmount')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <p>创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[dayStart]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[dayEnd]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="back:bank:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('back:bank:remove')}]];
        var prefix = ctx + "back/merchant/admin";

        $(function() {
            var options = {
                url: prefix + "/bank/list",
                createUrl: prefix + "/bank/add",
                removeUrl: prefix + "/bank/remove",
                modalName: "银行卡列表",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'bankcardId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'bankcardAccount', 
                    title : '银行卡号'
                },
                {
                    field : 'accountHolder', 
                    title : '开户人'
                },
                {
                    field : 'openAccountBank', 
                    title : '开户行'
                },
                {
                    field : 'phone',
                    title : '手机号'
                },
                {
                    field : 'bankcode', 
                    title : '类型',
                    formatter: function (value, row, index) {
                        if (row.bankcode === 'R') {
                            return '<span>入款</span>';
                        } else if (row.status === 'W') {
                            return '<span>出款</span>';
                        }
                    }
                },
                {
                    field : 'qrcodeNote', 
                    title : '备注'
                },
                {
                    field : 'status', 
                    title : '状态',
                    formatter: function (value, row, index) {
                        if (row.status === 1) {
                            return '<span>开启</span>';
                        } else if (row.status === 0) {
                            return '<span>关闭</span>';
                        }
                    }
                },
                {
                    field : 'createTime', 
                    title : '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>