<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('商户订单登记列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>订单号：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('orderStatus')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>产品类型：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="retain1" name="retain1">
                                <option value="">所有</option>
                                <option th:each="product : ${productList}" th:text="${product.productName}"
                                        th:value="${product.productId}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary" onclick="$.operate.statistics('统计当天交易订单数据（商户）')" >
                <i class="fa fa-bar-chart"></i> 当天数据统计
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" <!--shiro:hasPermission="alipay:running:export"-->>
            <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const editFlag = [[${@permission.hasPermi('alipay:orderApp:edit')}]];
    const removeFlag = [[${@permission.hasPermi('alipay:orderApp:remove')}]];
    const prefix = ctx + "back/merchant/admin";
    const orderstatusDatas = [[${@dict.getType('orderStatus')}]];
    $(function () {
        var options = {
            url: prefix + "/order/list",
            statisticsUrl: prefix + "/order/statistics",
            exportUrl: prefix + "/order/export",
            statisticsUrl: prefix + "/statistics/merchant/admin/table",
            modalName: "商户订单记录",
            columns: [{
                checkbox: true
            },
                {field: 'id', title: '数据id', visible: false},
                {field: 'orderId', title: '订单号'},
                {field: 'orderAccount', title: '商户账号'},
                {field: 'appOrderId', title: '交易外部订单号'},
                {
                    field: 'orderStatus', title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                {field: 'retain1', title: '产品类型'},
                {field: 'orderAmount', title: '订单金额 '},
                {field: 'retain3', title: '交易手续费'},
                {field: 'orderIp', title: '订单生成IP'},
                {field: 'createTime', title: '创建时间'},

            ]
        };
        $.table.init(options);
    });
    //初始化时间
    layui.use('laydate', function(){
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g,"-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g,"-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>