<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户提现记录')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台订单：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <span>申请人：</span>
                            <input type="text" name="accname"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('withdrawal_status')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="back:withdrawal:apply">
                <i class="fa fa-plus"></i> 提现申请
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="back:withdrawal:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    let orderStatus = [[${@dict.getType('withdrawal_status')}]];
    var prefix = ctx + "back/merchant/admin";

    $(function () {
        var options = {
            url: prefix + "/withdrawal/list",
            createUrl: prefix + "/withdrawal/apply",
            openUrl: prefix + "/open/account/{userId}",
            exportUrl: prefix + "/withdrawal/export",
            modalName: "商户提现",
            columns: [{
                checkbox: true
            },
                { field: 'orderId', title: '平台订单' },
                { field: 'userId', title: '商户账户' },
                { field: 'bankNo', title: '银行卡号' },
                { field: 'bankName', title: '开户银行' },
                { field: 'accname', title: '提现人姓名' },
                { field: 'apply', title: '申请人(后台)' },
                { field: 'orderStatus', title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderStatus, value);
                    }
                },
                {field: 'amount', title: '提现金额'},
                {field: 'fee', title: '费率'},
                {field: 'actualAmount', title: '实际到账'},
                {field: 'mobile', title: '手机号'},
                {field: 'createTime', title: '创建时间'}
            ]
        };
        $.table.init(options);
    });
    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>
