<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改用户资金账户')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-fund-edit" th:object="${alipayUserFundEntity}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">账户id【登录账户】：</label>
                <div class="col-sm-8">
                    <input name="userId" th:field="*{userId}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">账户昵称【登录账户名】：</label>
                <div class="col-sm-8">
                    <input name="userName" th:field="*{userName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">现金账户【当前可取现】：</label>
                <div class="col-sm-8">
                    <input name="cashBalance" th:field="*{cashBalance}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">充值点数：</label>
                <div class="col-sm-8">
                    <input name="rechargeNumber" th:field="*{rechargeNumber}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">冻结账户：</label>
                <div class="col-sm-8">
                    <input name="freezeBalance" th:field="*{freezeBalance}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">可取现账户金额【码商账户余额=冻结金额+现金账户+充值点数】：</label>
                <div class="col-sm-8">
                    <input name="accountBalance" th:field="*{accountBalance}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">累计交易额：</label>
                <div class="col-sm-8">
                    <input name="sumDealAmount" th:field="*{sumDealAmount}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">累计充值金额【充值成功时统计记录】：</label>
                <div class="col-sm-8">
                    <input name="sumRechargeAmount" th:field="*{sumRechargeAmount}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">累计利润金额：</label>
                <div class="col-sm-8">
                    <input name="sumProfit" th:field="*{sumProfit}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">累计代理商利润【如果当前账户为商户则该数据为0】：</label>
                <div class="col-sm-8">
                    <input name="sumAgentProfit" th:field="*{sumAgentProfit}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">累计接单笔数：</label>
                <div class="col-sm-8">
                    <input name="sumOrderCount" th:field="*{sumOrderCount}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">当日接单金额：</label>
                <div class="col-sm-8">
                    <input name="todayDealAmount" th:field="*{todayDealAmount}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">当日接单利润【代理利润+接单利润=当日利润】：</label>
                <div class="col-sm-8">
                    <input name="todayProfit" th:field="*{todayProfit}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">当日接单笔数：</label>
                <div class="col-sm-8">
                    <input name="todayOrderCount" th:field="*{todayOrderCount}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">当日代理商利润【如果当前账户为商户则该数据为0】：</label>
                <div class="col-sm-8">
                    <input name="todayAgentProfit" th:field="*{todayAgentProfit}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户类型,商户1 码商2：</label>
                <div class="col-sm-8">
                    <select name="userType" class="form-control m-b" required>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代理商id【如果存在代理商则存在数据,如果不存在代理商则为null】：</label>
                <div class="col-sm-8">
                    <input name="agent" th:field="*{agent}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">是否为代理商:1代理商2普通码商【分润结算类型看用户类型userType】：</label>
                <div class="col-sm-8">
                    <input name="isAgent" th:field="*{isAgent}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最后一次数据修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="submitTime" th:value="${#dates.format(alipayUserFundEntity.submitTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据是否可用:1数据可用2数据无用：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="" required>
                        <label th:for="status" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据版本号【数据修改锁】：</label>
                <div class="col-sm-8">
                    <input name="version" th:field="*{version}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "alipay/fund";
        $("#form-fund-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-fund-edit').serialize());
            }
        }

        $("input[name='submitTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>