<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户手动补单记录')"/>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单号：</p>
                                <input type="text" name="orderid"/>
                            </li>
                            <li>
                                <p>会员id：</p>
                                <input type="text" name="userid"/>
                            </li>
                            <li>
                                <p>操作人：</p>
                                <input type="text" name="accname"/>
                            </li>
                            <li>
                                <p>状态：</p>
                                <select name="orderstatus" th:with="type=${@dict.getType('orderStatusAmount')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <p>数据创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreatetime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreatetime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:amount:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:amount:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:amount:remove')}]];
        var amounttypeDatas = [[${@dict.getType('amountType')}]];
        var orderstatusDatas = [[${@dict.getType('orderStatusAmount')}]];
        var prefix = ctx + "/alipay/deduct";

        $(function() {
            var options = {
                url: prefix + "/additional",
                updateUrl: prefix + "/additionaEdit/{id}",
                exportUrl: prefix + "/export",
                modalName: "用户手动补单记录",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: '数据id',
                        visible: false
                    },
                    {
                        field: 'orderId',
                        title: '平台订单'
                    },
                    {
                        field: 'userId',
                        title: '用户id'
                    },
                    {
                        field: 'amountType',
                        title: '订单类型',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(amounttypeDatas, value);
                        }
                    },
                {
                    field : 'accname', 
                    title : '申请人姓名'
                },
                {
                    field : 'orderstatus', 
                    title : '订单状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                {
                    field : 'amount',
                    title: '金额'
                },
                    {
                        field: 'fee',
                        title: '手续费'
                    },
                    {
                        field: 'actualamount',
                        title: '真实到账金额'
                    },
                    {
                        field: 'fee',
                        title: '手续费'
                    },
                    {
                        field: 'dealdescribe',
                        title: '补单详细描述'
                    },
                    {
                        field: 'createtime',
                        title: '数据创建时间'
                    },
                    {
                        title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.orderStatus == 2) {
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>审核</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>