<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('手动加扣款记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单号：</p>
                                <input type="text" name="orderid"/>
                            </li>
                            <li>
                                <p>会员id：</p>
                                <input type="text" name="userid"/>
                            </li>
                            <li>
                                <p>订单类型：</p>
                                <select name="amounttype" th:with="type=${@dict.getType('amountType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>操作人：</p>
                                <input type="text" name="accname"/>
                            </li>
                            <li>
                                <p>状态：</p>
                                <select name="orderstatus" th:with="type=${@dict.getType('orderStatusAmount')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <p>数据创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreatetime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreatetime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
             <!--   <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:amount:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:amount:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:amount:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:amount:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:amount:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:amount:remove')}]];
        var amounttypeDatas = [[${@dict.getType('amountType')}]];
        var orderstatusDatas = [[${@dict.getType('orderStatusAmount')}]];
        var prefix = ctx + "system/amount";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "手动加扣款记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '数据id',
                    visible: false
                },
                {
                    field : 'orderid', 
                    title : '订单号'
                },
                {
                    field : 'userid', 
                    title : '会员id'
                },
                {
                    field : 'amounttype', 
                    title : '订单类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(amounttypeDatas, value);
                    }
                },
                {
                    field : 'accname', 
                    title : '申请人姓名'
                },
                {
                    field : 'orderstatus', 
                    title : '订单状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                {
                    field : 'amount', 
                    title : '金额'
                },
                {
                    field : 'fee', 
                    title : '手续费'
                },
                {
                    field : 'actualamount', 
                    title : '真实到账金额'
                },
                {
                    field : 'dealdescribe', 
                    title : '加扣款描述'
                },
                {
                    field : 'createtime', 
                    title : '数据创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>