<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('流水订单记录列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>平台订单：</label>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <label>关联订单：</label>
                            <input type="text" name="associatedId"/>
                        </li>
                        <li>
                            <label>关联账户：</label>
                            <input type="text" name="orderAccount"/>
                        </li>
                        <li>
                            <label>入款账户：</label>
                            <input type="text" name="acountR"/>
                        </li>
                        <li>
                            <label>出款账户：</label>
                            <input type="text" name="accountW"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>流水类型：</label>
                            <select id="runOrderType" name="runOrderType"
                                    th:with="type=${@dict.getType('dealpay_running_type')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>流水状态：</label>
                            <select id="runType" name="runType"
                                    th:with="type=${@dict.getType('runType')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>收支类型：</label>
                            <select id="amountType" name="amountType"
                                    th:with="type=${@dict.getType('income_out_type')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dealpay:runOrder:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    let editFlag = [[${@permission.hasPermi('dealpay:runOrder:edit')}]];

    let orderType = [[${@dict.getType('dealpay_running_type')}]];
    let runType = [[${@dict.getType('runType')}]];
    let incomeType = [[${@dict.getType('income_out_type')}]];
    let prefix = ctx + "dealpay/runOrder";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            exportUrl: prefix + "/export",
            modalName: "流水订单记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '数据ID',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '平台订单'
                },
                {
                    field: 'associatedId',
                    title: '关联订单'
                },
                {
                    field: 'orderAccount',
                    title: '关联账户'
                },
                {
                    field: 'runOrderType',
                    title: '流水类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderType, value);
                    }

                },
                {
                    field: 'amount',
                    title: '流水金额'
                },
                {
                    field: 'acountR',
                    title: '入款账户'
                },
                {
                    field: 'accountW',
                    title: '出款账户'
                },
                {
                    field: 'runType',
                    title: '流水状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(runType, value);
                    }
                },
                {
                    field: 'amountType',
                    title: '收支类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(incomeType, value);
                    }
                },
                {
                    field: 'amountNow',
                    title: '账户余额'
                },
                {
                    field: 'dealDescribe',
                    title: '流水描述'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }
               ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>