<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="include :: header('金额编辑')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div>
        <input id="id" name="id" th:value="${id}" type="hidden">
    </div>
    <div>
        <label class="col-sm-3 control-label is-required">限制金额:</label>
        <input id="mountLimit" name="mountLimit" type="text" required><button onclick="save()" />保存
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var url = ctx + "alipay/medium/edit";

    function save() {
        var id = $("input[name='id']").val();
        var mountLimit = $("input[name='mountLimit']").val();
        $.ajax({
            cache: true,
            type: "POST",
            url: url,
            data: {
                "id": id,
                "mountLimit": mountLimit
            },
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.operate.successCallback(data);
                window.location.href(ctx + "/alipay/medium");
            }
        });
    }
</script>
</body>
</html>