<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('收款媒介列列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>卡商账户：</span>
                            <input type="text" name="qrcodeId"/>
                        </li>
                        <li>
                            <span>手机号：</span>
                            <input type="text" name="mediumPhone"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>媒介类型：</label>
                            <select id="code" name="code" th:with="type=${@dict.getType('medium_type')}"
                                    class="selectpicker"
                                    data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const codeFlag = [[${@permission.hasPermi('alipay:medium:showCode')}]];
    const removeFlag = [[${@permission.hasPermi('alipay:medium:remove')}]];
    const editAmountById = [[${@permission.hasPermi('alipay:medium:editAmountById')}]];
    const editAmountByCode = [[${@permission.hasPermi('alipay:medium:editAmountByCode')}]];
    const mediumType = [[${@dict.getType('medium_type')}]];
    const prefix = ctx + "alipay/medium";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            openUrl: prefix + "/show/{userId}",
            modalName: "收款媒介",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'mediumId',
                    title: '媒介ID',
                },
                {
                    field: 'mediumNumber',
                    title: '银行账号',
                },
                {
                    field: 'mediumHolder',
                    title: '开户人'
                },
                {
                    field: 'mediumPhone',
                    title: '手机号'
                },
                {
                    field: 'qrcodeId',
                    title: '卡商账户'
                },
                {
                    field: 'account',
                    title: '开户行'
                },
                {
                    field: 'mountLimit',
                    title: '收款限制金额'
                },
                {
                    field: 'mountSystem',
                    title: '系统收款'
                },
                {
                    field: 'mountNow',
                    title: '实际余额'
                },

                {
                    field: 'code',
                    title: '媒介类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(mediumType, value);
                    }
                },
                {
                    field: 'status',
                    title: '接单状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (row.status === 1) {
                            return '<span style="color:#00B83F;">开启</span>';
                        } else if (row.status === 0) {
                            return '<span style="color: #cc0000;">关闭</span>';
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center'
                },
                {
                    field: 'mediumNote',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + codeFlag + '" href="javascript:void(0)" onclick="$.operate.codeList(\'' + row.mediumId + '\')"><i class="fa fa-search-plus"></i>二维码</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + editAmountById + '" href="/alipay/medium/editAmount/' + row.id + '")"><i class="fa fa-play-circle-o"></i>修改收款限制金额</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + editAmountByCode + '" href="/alipay/medium/editAmountByCode/' + row.code + '")"><i class="fa fa-play-circle-o"></i>修改同种媒介收款限制金额</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>