<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户详情列表2')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>商户账户：</span>
                            <input type="text" id="userId" name="userId"/>
                        </li>
                        <li>
                            <span>商户名称：</span>
                            <input type="text" id="userName" name="userName"/>
                        </li>
                        <input type="text" id="type" name="type" hidden/>
                        <input type="text" id="parentId" name="parentId" hidden/>
                        <li>
                            <span>上级商户账户：</span>
                            <input type="text" id="agent" name="agent"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>商户状态： </label>
                            <select id="switchs" name="switchs" th:with="type=${@dict.getType('userSwitchs')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="alipay:merchant:add">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript" th:src="@{/static/js/download.js}"></script>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const editFlag = [[${@permission.hasPermi('alipay:merchant:edit')}]];
    const openAccount = [[${@permission.hasPermi('alipay:merchant:opened')}]];
    const sameRankFlag = [[${@permission.hasPermi('alipay:merchant:sameRank')}]];
    const childrenRankFlag = [[${@permission.hasPermi('alipay:merchant:childrenRank')}]];
    const prefix = ctx + "alipay/merchant";
    const prefix1 = ctx + "system/user";
    const resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];
    const bindGoogleFlag = [[${@permission.hasPermi('system:user:bind')}]];
    const editFlagAdmin = [[${@permission.hasPermi('control:account:merchant:admin')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            openUrl: prefix + "/open/account/{userId}",
            listUrl: prefix + "/agentList/{userId}/{type}",
            // detailView: true,//父子表
            pagination: true,//显示分页
            modalName: "商户信息",
            detailView: true,
            //注册加载子表的事件。注意下这里的三个参数！
            onExpandRow: function (index, row, $detail) {
                initChildTable(index, row, $detail, 0);
            },
            columns: [
                {
                    field: 'id',
                    title: '数据id',
                    formatter: function (value, row, index) {
                        return index;
                    }

                },
                {
                    field: 'userId',
                    title: '商户账户'

                },
                {
                    field: 'userName',
                    title: '商户名称'
                },
                {
                    field: 'agent',
                    title: '上级代理'
                },
                {
                    field: 'publicKey',
                    title: '商户公钥',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return download_public(row);
                    }
                },
                {
                    field: 'payPasword',
                    title: '交易密钥',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return download_payPassword(row);
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '商户状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'switchs');
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '交易状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'receiveOrderState');
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '代付状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'remitOrderState');
                    }
                },

                {
                    field: 'remark',
                    title: '登陆IP', formatter: function (value, row, index) {
                        if (value) {
                            return '存在'
                        } else {
                            return '---'
                        }
                        ;
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>登陆ip</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + openAccount + '" onclick="$.operate.openAccount(\'' + row.userId + '\', \'添加商户下级账户\',\'openUrl\')"><i class="fa fa-plus"></i>下级开户</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + resetPwdFlag + '" href="javascript:void(0)" onclick="resetPwd(\'' + row.sysUserId + '\')"><i class="fa fa-key"></i>重置</a> ');
                        actions.push('<a class="btn btn-info btn-xs '  + '" href="javascript:void(0)" onclick="resetMoneyPwd(\'' + row.sysUserId + '\')"><i class="fa fa-key"></i>重置资金密码</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + editFlagAdmin + '" href="javascript:void(0)" onclick="resetPrivateKey(\'' + row.id + '\')"><i class="fa fa-key"></i>重置交易密钥</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + '" href="javascript:void(0)" onclick="resetErrorLogin(\'' + row.id + '\')"><i class="fa fa-key"></i>重置登陆错误次数</a> ');
                        if (row.isBind === '0') {
                            actions.push('<a class="btn btn-warning btn-xs ' + bindGoogleFlag + '" href="javascript:void(0)" onclick="googleBind(\'' + row.sysUserId + '\',\'' + row.loginName + '\')"><i class="fa fa-close"></i>绑定</a> ');
                        } else {
                            actions.push('<a class="btn btn-primary btn-xs ' + bindGoogleFlag + '" href="javascript:void(0)" onclick="googleUnbind(\'' + row.sysUserId + '\',\'' + row.loginName + '\')"><i class="fa fa-check"></i>解绑</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    /* 重置用户的登陆错误次数 */
    function resetErrorLogin(id) {
        $.modal.confirm("确认要重置此用户的错误【登陆】次数？", function () {
            $.operate.fixPost(prefix1 + "/resetLoginErrorCount", {"id": id});
        })
    }
    /* 重置用户的密钥 */
    function resetPrivateKey(id) {
        $.modal.confirm("确认要重置此用户的密钥？", function () {
            $.operate.fixPost(prefix + "/resetPrivateKey", {"id": id});
        })
    }

    /* 用户管理-重置资金密码 */
    function resetMoneyPwd(userId) {
        var url = prefix1 + '/resetMoneyPwd/' + userId;
        $.modal.open("重置资金密码", url, '800', '300');
    }
    /* 商户状态显示 */
    function statusTools(row, param) {
        if (param === 'switchs') {
            if (row.switchs === 0) {
                let msg = "确认要【启用】此商户的【用户状态】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认要【停用】此商户【用户状态】吗？";
                let val = 0;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        } else if (param === 'receiveOrderState') {
            if (row.receiveOrderState === 2) {
                let msg = "确认要【开启】此商户的【交易状态】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认要【关闭】此商户的【交易状态】吗？";
                let val = 2;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        } else if (param === 'remitOrderState') {
            if (row.remitOrderState === 2) {
                let msg = "确认要【开启】此商户的【代付状态】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认要【关闭】此商户的【代付状态】吗？";
                let val = 2;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        }
    }

    /* 商户管理-停用 */
    function disable(userId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/changeStatus", {
                "userId": userId,
                "params[paramKey]": param,
                "params[paramValue]": val
            });
        })
    }


    initChildTable = function (index, row, $detail, colorIndex) {
        var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
        $(childTable).bootstrapTable({
            detailView: true,
            onExpandRow: function (index, row, $detail) {
                initChildTable(index, row, $detail, row.colorIndex);
            },
            url: prefix + "/childrenList",
            method: 'post',
            rowStyle: function (row, index) {
                //这里有5个取值代表5中颜色['active', 'success', 'info', 'warning', 'danger'];
                var strclass = "childIndex-20";
                if (row.colorIndex == '1') {
                    strclass = 'childIndex-1';//还有一个active
                }
                if (row.colorIndex == '2') {
                    strclass = 'childIndex-2';//还有一个active
                }
                if (row.colorIndex == '3') {
                    strclass = 'childIndex-3';//还有一个active
                }
                if (row.colorIndex == '4') {
                    strclass = 'childIndex-4';//还有一个active
                }
                if (row.colorIndex == '5') {
                    strclass = 'childIndex-5';//还有一个active
                }
                if (row.colorIndex == '6') {
                    strclass = 'childIndex-6';//还有一个active
                }
                if (row.colorIndex == '7') {
                    strclass = 'childIndex-7';//还有一个active
                }
                if (row.colorIndex == '8') {
                    strclass = 'childIndex-8';//还有一个active
                }
                if (row.colorIndex == '9') {
                    strclass = 'childIndex-9';//还有一个active
                }
                if (row.colorIndex == '10') {
                    strclass = 'childIndex-10';//还有一个active
                }
                if (row.colorIndex == '11') {
                    strclass = 'childIndex-11';//还有一个active
                }
                if (row.colorIndex == '12') {
                    strclass = 'childIndex-12';//还有一个active
                }
                if (row.colorIndex == '13') {
                    strclass = 'childIndex-13';//还有一个active
                }
                if (row.colorIndex == '14') {
                    strclass = 'childIndex-14';//还有一个active
                }
                if (row.colorIndex == '15') {
                    strclass = 'childIndex-15';//还有一个active
                }
                if (row.colorIndex == '16') {
                    strclass = 'childIndex-16';//还有一个active
                }
                if (row.colorIndex == '17') {
                    strclass = 'childIndex-17';//还有一个active
                }
                if (row.colorIndex == '18') {
                    strclass = 'childIndex-18';//还有一个active
                }
                if (row.colorIndex == '19') {
                    strclass = 'childIndex-19';//还有一个active
                }

                return {classes: strclass}
            },
            sidePagination: "server",
            contentType: "application/x-www-form-urlencoded",
            queryParams: {
                agent: row.userId,
                colorIndex: colorIndex
            },
            columns: [
                {
                    field: 'id',
                    title: '排序',
                    formatter: function (value, row, index) {
                        return index;
                    }
                },
                {
                    field: 'userId',
                    title: '商户账户'

                },
                {
                    field: 'userName',
                    title: '商户名称'
                },
                {
                    field: 'agent',
                    title: '上级代理'
                },
                {
                    field: 'publicKey',
                    title: '商户公钥',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return download_public(row);
                    }
                },
                {
                    field: 'payPasword',
                    title: '交易密钥',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return download_payPassword(row);
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '商户状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'switchs');
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '交易状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'receiveOrderState');
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '代付状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'remitOrderState');
                    }
                },

                {
                    field: 'remark',
                    title: '登陆IP', formatter: function (value, row, index) {
                        if (value) {
                            return '存在'
                        } else {
                            return '---'
                        }
                        ;
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>登陆ip</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + openAccount + '" onclick="$.operate.openAccount(\'' + row.userId + '\', \'添加商户下级账户\',\'openUrl\')"><i class="fa fa-plus"></i>下级开户</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + resetPwdFlag + '" href="javascript:void(0)" onclick="resetPwd(\'' + row.sysUserId + '\')"><i class="fa fa-key"></i>重置</a> ');

                        if (row.isBind === '0') {
                            actions.push('<a class="btn btn-warning btn-xs ' + bindGoogleFlag + '" href="javascript:void(0)" onclick="googleBind(\'' + row.sysUserId + '\',\'' + row.loginName + '\')"><i class="fa fa-close"></i>绑定</a> ');
                        } else {
                            actions.push('<a class="btn btn-primary btn-xs ' + bindGoogleFlag + '" href="javascript:void(0)" onclick="googleUnbind(\'' + row.sysUserId + '\',\'' + row.loginName + '\')"><i class="fa fa-check"></i>解绑</a>');
                        }
                        return actions.join('');
                    }
                }]

        });
    };


    function googleBind(userId, loginName) {
        $.modal.confirm("确认要为此用户【绑定】谷歌验证器吗？", function () {
            $.operate.post(prefix1 + "/bind", {"userId": userId, "loginName": loginName, "isBind": '1'});
        })
    }

    function googleUnbind(userId, loginName) {
        $.modal.confirm("确认要为此用户【解绑】谷歌验证器吗？", function () {
            $.operate.post(prefix1 + "/bind", {"userId": userId, "loginName": loginName, "isBind": '0'});
        })
    }

    /* 用户管理-重置密码 */
    function resetPwd(userId) {
        var url = prefix1 + '/resetPwd/' + userId;
        $.modal.open("重置密码", url, '800', '300');
    }

    /* 商户管理-启用 */
    function enable(userId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/changeStatus", {
                "userId": userId,
                "params[paramKey]": param,
                "params[paramValue]": val
            });
        })
    }

    /*下载公钥*/
    function download_public(row) {
        return '<i class=\"glyphicon glyphicon-download-alt\" style="cursor:pointer;" title="点击下载加密公钥" aria-hidden="true"  onclick="typePassword(\'' + row.publicKey + '\',\'' + row.userName + '公钥\')"></i> ';
    }

    /*下载交易密钥*/
    function download_payPassword(row) {
        return '<i class=\"glyphicon glyphicon-download-alt\" style="cursor:pointer;" title="点击下载交易密钥" aria-hidden="true"  onclick="typePassword(\'' + row.payPasword + '\',\'' + row.userName + '交易密钥\')"></i> ';
    }

    /*输入密码下载*/
    function typePassword(content, filename) {
        layer.prompt({title: '请输入密码下载密钥', formType: 1}, function (pass, index) {
            layer.close(index);
            jQuery.ajax({
                type: "post",
                url: prefix + "/verify/password",
                data: {
                    "password": pass
                },
                dataType: "json",
                success: function (data) {
                    if (0 == data.code) {
                        txtDownload(content, filename);
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 1000}, function () {
                            typePassword(content, filename);
                        });
                    }
                }
            });
        });

    }

    /*下载txt*/
    function txtDownload(content, filename) {
        var eleLink = document.createElement('a');
        var blob = new Blob([content]);
        eleLink.href = URL.createObjectURL(blob);
        eleLink.download = filename + '.txt';
        eleLink.click();
    }

    /* 重置用户的提现密码 */
    function resetWithdrawalPwd(id) {
        $.modal.confirm("确认要重置此用户的【提现】密码？", function () {
            $.operate.fixPost(prefix + "/resetPayPassword", {"id": id});
        })
    }
</script>
</body>
</html>