<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dealpay.mapper.DealpayUserFundMapper">

    <resultMap type="DealpayUserFundEntity" id="DealpayUserFundResult">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="cashBalance" column="cashBalance"/>
        <result property="rechargeNumber" column="rechargeNumber"/>
        <result property="freezeBalance" column="freezeBalance"/>
        <result property="accountBalance" column="accountBalance"/>
        <result property="sumDealAmountR" column="sumDealAmountR"/>
        <result property="sumDealAmountC" column="sumDealAmountC"/>
        <result property="sumProfit" column="sumProfit"/>
        <result property="sumAgentProfit" column="sumAgentProfit"/>
        <result property="sumOrderCountR" column="sumOrderCountR"/>
        <result property="sumOrderCountC" column="sumOrderCountC"/>
        <result property="todayDealAmountR" column="todayDealAmountR"/>
        <result property="todayDealAmountC" column="todayDealAmountC"/>
        <result property="todayProfit" column="todayProfit"/>
        <result property="todayAgentProfit" column="todayAgentProfit"/>
        <result property="todayOrderCountR" column="todayOrderCountR"/>
        <result property="todayOrderCountC" column="todayOrderCountC"/>
        <result property="userType" column="userType"/>
        <result property="agent" column="agent"/>
        <result property="isAgent" column="isAgent"/>
        <result property="createTime" column="createTime"/>
        <result property="submitTime" column="submitTime"/>
        <result property="status" column="status"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectDealpayUserFundVo">
        select id, userId, userName, cashBalance, rechargeNumber, freezeBalance, accountBalance, sumDealAmountR, sumDealAmountC, sumProfit, sumAgentProfit, sumOrderCountR, sumOrderCountC, todayDealAmountR, todayDealAmountC, todayProfit, todayAgentProfit, todayOrderCountR, todayOrderCountC, userType, agent, isAgent, createTime, submitTime, status, version from dealpay_user_fund
    </sql>

    <select id="selectDealpayUserFundList" parameterType="DealpayUserFundEntity" resultMap="DealpayUserFundResult">
        <include refid="selectDealpayUserFundVo"/>
        <where>
            <if test="userId != null  and userId != ''">and userId = #{userId}</if>
            <if test="userName != null  and userName != ''">and userName like concat('%', #{userName}, '%')</if>
            <if test="cashBalance != null ">and cashBalance = #{cashBalance}</if>
            <if test="rechargeNumber != null ">and rechargeNumber = #{rechargeNumber}</if>
            <if test="freezeBalance != null ">and freezeBalance = #{freezeBalance}</if>
            <if test="accountBalance != null ">and accountBalance = #{accountBalance}</if>
            <if test="sumDealAmountR != null ">and sumDealAmountR = #{sumDealAmountR}</if>
            <if test="sumDealAmountC != null ">and sumDealAmountC = #{sumDealAmountC}</if>
            <if test="sumProfit != null ">and sumProfit = #{sumProfit}</if>
            <if test="sumAgentProfit != null ">and sumAgentProfit = #{sumAgentProfit}</if>
            <if test="sumOrderCountR != null ">and sumOrderCountR = #{sumOrderCountR}</if>
            <if test="sumOrderCountC != null ">and sumOrderCountC = #{sumOrderCountC}</if>
            <if test="todayDealAmountR != null ">and todayDealAmountR = #{todayDealAmountR}</if>
            <if test="todayDealAmountC != null ">and todayDealAmountC = #{todayDealAmountC}</if>
            <if test="todayProfit != null ">and todayProfit = #{todayProfit}</if>
            <if test="todayAgentProfit != null ">and todayAgentProfit = #{todayAgentProfit}</if>
            <if test="todayOrderCountR != null ">and todayOrderCountR = #{todayOrderCountR}</if>
            <if test="todayOrderCountC != null ">and todayOrderCountC = #{todayOrderCountC}</if>
            <if test="userType != null  and userType != ''">and userType = #{userType}</if>
            <if test="agent != null  and agent != ''">and agent = #{agent}</if>
            <if test="isAgent != null  and isAgent != ''">and isAgent = #{isAgent}</if>
            <if test="createTime != null ">and createTime = #{createTime}</if>
            <if test="submitTime != null ">and submitTime = #{submitTime}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="version != null ">and version = #{version}</if>
        </where>
    </select>

    <select id="selectDealpayUserFundById" parameterType="Long" resultMap="DealpayUserFundResult">
        <include refid="selectDealpayUserFundVo"/>
        where id = #{id}
    </select>

    <insert id="insertDealpayUserFund" parameterType="DealpayUserFundEntity" useGeneratedKeys="true" keyProperty="id">
        insert into dealpay_user_fund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId,</if>
            <if test="userName != null  and userName != ''">userName,</if>
            <if test="cashBalance != null ">cashBalance,</if>
            <if test="rechargeNumber != null ">rechargeNumber,</if>
            <if test="freezeBalance != null ">freezeBalance,</if>
            <if test="accountBalance != null ">accountBalance,</if>
            <if test="sumDealAmountR != null ">sumDealAmountR,</if>
            <if test="sumDealAmountC != null ">sumDealAmountC,</if>
            <if test="sumProfit != null ">sumProfit,</if>
            <if test="sumAgentProfit != null ">sumAgentProfit,</if>
            <if test="sumOrderCountR != null ">sumOrderCountR,</if>
            <if test="sumOrderCountC != null ">sumOrderCountC,</if>
            <if test="todayDealAmountR != null ">todayDealAmountR,</if>
            <if test="todayDealAmountC != null ">todayDealAmountC,</if>
            <if test="todayProfit != null ">todayProfit,</if>
            <if test="todayAgentProfit != null ">todayAgentProfit,</if>
            <if test="todayOrderCountR != null ">todayOrderCountR,</if>
            <if test="todayOrderCountC != null ">todayOrderCountC,</if>
            <if test="userType != null  and userType != ''">userType,</if>
            <if test="agent != null  and agent != ''">agent,</if>
            <if test="isAgent != null  and isAgent != ''">isAgent,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="version != null ">version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="cashBalance != null ">#{cashBalance},</if>
            <if test="rechargeNumber != null ">#{rechargeNumber},</if>
            <if test="freezeBalance != null ">#{freezeBalance},</if>
            <if test="accountBalance != null ">#{accountBalance},</if>
            <if test="sumDealAmountR != null ">#{sumDealAmountR},</if>
            <if test="sumDealAmountC != null ">#{sumDealAmountC},</if>
            <if test="sumProfit != null ">#{sumProfit},</if>
            <if test="sumAgentProfit != null ">#{sumAgentProfit},</if>
            <if test="sumOrderCountR != null ">#{sumOrderCountR},</if>
            <if test="sumOrderCountC != null ">#{sumOrderCountC},</if>
            <if test="todayDealAmountR != null ">#{todayDealAmountR},</if>
            <if test="todayDealAmountC != null ">#{todayDealAmountC},</if>
            <if test="todayProfit != null ">#{todayProfit},</if>
            <if test="todayAgentProfit != null ">#{todayAgentProfit},</if>
            <if test="todayOrderCountR != null ">#{todayOrderCountR},</if>
            <if test="todayOrderCountC != null ">#{todayOrderCountC},</if>
            <if test="userType != null  and userType != ''">#{userType},</if>
            <if test="agent != null  and agent != ''">#{agent},</if>
            <if test="isAgent != null  and isAgent != ''">#{isAgent},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="version != null ">#{version},</if>
        </trim>
    </insert>

    <update id="updateDealpayUserFund" parameterType="DealpayUserFundEntity">
        update dealpay_user_fund
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId = #{userId},</if>
            <if test="userName != null  and userName != ''">userName = #{userName},</if>
            <if test="cashBalance != null ">cashBalance = #{cashBalance},</if>
            <if test="rechargeNumber != null ">rechargeNumber = #{rechargeNumber},</if>
            <if test="freezeBalance != null ">freezeBalance = #{freezeBalance},</if>
            <if test="accountBalance != null ">accountBalance = #{accountBalance},</if>
            <if test="sumDealAmountR != null ">sumDealAmountR = #{sumDealAmountR},</if>
            <if test="sumDealAmountC != null ">sumDealAmountC = #{sumDealAmountC},</if>
            <if test="sumProfit != null ">sumProfit = #{sumProfit},</if>
            <if test="sumAgentProfit != null ">sumAgentProfit = #{sumAgentProfit},</if>
            <if test="sumOrderCountR != null ">sumOrderCountR = #{sumOrderCountR},</if>
            <if test="sumOrderCountC != null ">sumOrderCountC = #{sumOrderCountC},</if>
            <if test="todayDealAmountR != null ">todayDealAmountR = #{todayDealAmountR},</if>
            <if test="todayDealAmountC != null ">todayDealAmountC = #{todayDealAmountC},</if>
            <if test="todayProfit != null ">todayProfit = #{todayProfit},</if>
            <if test="todayAgentProfit != null ">todayAgentProfit = #{todayAgentProfit},</if>
            <if test="todayOrderCountR != null ">todayOrderCountR = #{todayOrderCountR},</if>
            <if test="todayOrderCountC != null ">todayOrderCountC = #{todayOrderCountC},</if>
            <if test="userType != null  and userType != ''">userType = #{userType},</if>
            <if test="agent != null  and agent != ''">agent = #{agent},</if>
            <if test="isAgent != null  and isAgent != ''">isAgent = #{isAgent},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="version != null ">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDealpayUserFundById" parameterType="Long">
        delete from dealpay_user_fund where id = #{id}
    </delete>

    <delete id="deleteDealpayUserFundByIds" parameterType="String">
        delete from dealpay_user_fund where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>