<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('拦截订单详情')"/>
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-order-edit" th:object="${alipayExceptionOrder}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3  control-label">流水单号：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="*{orderexceptId}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3  control-label">关联订单单号：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="*{orderId}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3  control-label">异常类型：</label>
                <div class="col-sm-8">
                    <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:if="*{exceptType eq 1 }"
                      th:text="支付拦截"></span>
                        <span class="form-control" style="border: 0;" th:if="*{exceptType eq 2}"
                              th:text=人工加款拦截></span>
                        <span class="form-control" style="border: 0;" th:if="*{exceptType eq 5 }"
                              th:text="代付拦截"></span>
                        <span class="form-control" style="border: 0;" th:if="*{exceptType eq 4 }"
                              th:text="人工扣款拦截"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3  control-label">订单关联商户账号：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="*{orderAccount}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">异常订单金额：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="*{exceptOrderAmount}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">源头ip：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="*{orderGenerationip}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">异常说明：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="*{explains}"></span>
                </div>
            </div>


        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
</body>
</html>