<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易订单列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>平台订单：</label>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <label>关联订单：</label>
                            <input type="text" name="associatedId"/>
                        </li>
                        <li>
                            <label>外部订单：</label>
                            <input type="text" name="externalOrderId"/>
                        </li>
                        <li>
                            <label>商户账号：</label>
                            <input type="text" name="orderAccount"/>
                        </li>
                        <li>
                            <label>卡商账户：</label>
                            <input type="text" name="orderQrUser"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单类型：</label>
                            <select id="orderType" name="orderType" th:with="type=${@dict.getType('card_dealOrder_type')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('orderStatus')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <p>创建时间：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dealpay:dealOrder:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    let editFlag = [[${@permission.hasPermi('dealpay:dealOrder:edit')}]];
    let removeFlag = [[${@permission.hasPermi('dealpay:dealOrder:remove')}]];
    let orderStatus = [[${@dict.getType('orderStatus')}]];
    let orderType = [[${@dict.getType('card_dealOrder_type')}]];
    let prefix = ctx + "dealpay/dealOrder";
    var updataOrder = [[${@permission.hasPermi('alipay:orderDeal:updataOrder')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            modalName: "交易订单",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '数据ID',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '平台订单'
                },
                {
                    field: 'associatedId',
                    title: '关联订单'
                },
                {
                    field: 'orderAccount',
                    title: '商户账号'
                },
                {
                    field: 'orderQrUser',
                    title: '卡商账户'
                },
                {
                    field: 'orderStatus',
                    title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderStatus, value);
                    }
                },
                {
                    field: 'dealAmount',
                    title: '交易金额'
                },
                {
                    field: 'orderType',
                    title: '订单类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderType, value);
                    }
                },
                {
                    field: 'isNotify',
                    title: '是否通知'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.showDetail(\'' + row.id + '\')"><i class="fa fa-edit"></i>详情</a> ');
                        if(row.orderStatus != 7){
                            actions.push('<a class="btn btn-danger btn-xs ' + updataOrder + '" href="javascript:void(0)" onclick="onUpdataOrder(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>转发财务</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function onUpdataOrder (id) {
        $.modal.confirm("该笔订单确认转为人工处理", function () {
            $.operate.post(prefix + "/updataOrder", {"id": id});
        })
    }
</script>
</body>
</html>