<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户产品费率列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>用户id：</p>
                                <input type="text" name="userId"/>
                            </li>
                            <!--<li>
                                <p>用户类型,商户1 码商2：</p>
                                <select name="userType" th:with="type=${@dict.getType('userType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>-->
                            <li>
                                <p>开关：</p>
                                <select name="switchs" th:with="type=${@dict.getType('userSwitchs')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>产品类型：</p>
                                <select name="payTypr" th:with="type=${@dict.getType('payTypr')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>费率类型: </p>
                                <select name="feeType" th:with="type=${@dict.getType('feeType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="alipay:rate:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="alipay:rate:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="alipay:rate:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="alipay:rate:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('alipay:rate:edit')}]];
        var removeFlag = [[${@permission.hasPermi('alipay:rate:remove')}]];
        var prefix = ctx + "alipay/rate";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "用户产品费率",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'userId', 
                    title : '用户id'
                },
                {
                    field : 'userType', 
                    title : '用户类型',
                    formatter: function (value, item, index) {
                        if (item.userType == '1') {
                            return '<span>商户</span>';
                        } else if (item.userType == '2') {
                            return '<span>码商</span>';
                        }
                    }
                },
           /*     {
                    field : 'switchs',
                    title : '费率开关 ',
                    formatter: function (value, item, index) {
                        if (item.switchs == '1') {
                            return '<span>开启</span>';
                        } else if (item.switchs == '2') {
                            return '<span>关闭</span>';
                        }
                    }
                },*/

                    {
                        visible: editFlag == 'hidden' ? false : true,
                        title: '费率开关',
                        align: 'switchs',
                        formatter: function (value, row, index) {
                            return statusTools(row);
                        }
                    },
                {
                    field : 'payTypr', 
                    title : '产品类型',
                    formatter: function (value, item, index) {
                        if (item.payTypr == 'ALIPAY_SCAN') {
                            return '<span>支付宝扫码</span>';
                        } else if (item.payTypr == 'ALIPAY_H5') {
                            return '<span>支付宝H5</span>';
                        }
                    }
                },
                {
                    field : 'fee', 
                    title : '费率数值'
                },
                {
                    field : 'feeType', 
                    title : '费率类型 ',
                    formatter: function (value, item, index) {
                        if (item.feeType == '1') {
                            return '<span>交易费率</span>';
                        } else if (item.feeType == '2') {
                            return '<span>代付费率</span>';
                        }
                    }
                },
                {
                    field : 'createTime', 
                    title : '数据创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        /* 用户费率状态显示 */
        function statusTools(row) {
            if (row.switchs == 0) {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.userId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.userId + '\')"></i> ';
            }
        }
        /* 用户费率-停用 */
        function disable(userId) {
            $.modal.confirm("确认要停用该条费率吗？", function () {
                $.operate.post(prefix + "/changeStatus", {"userId": userId, "switchs": 0});
            })
        }

        /* 用户费率-开启 */
        function enable(userId) {
            $.modal.confirm("确认要启用该条费率吗？", function () {
                $.operate.post(prefix + "/changeStatus", {"userId": userId, "switchs": 1});
            })
        }
    </script>
</body>
</html>