<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('交易订单详情')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-orderDeal-edit" th:object="${alipayDealOrderEntity}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">平台订单：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.orderId}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">关联订单：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.associatedId}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">外部订单号：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.externalOrderId}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">交易媒介：</label>
            <div class="col-sm-8">
                    <span class="form-control" style="border: 0;">
                        <span th:text="${alipayDealOrderEntity.orderQr}"></span>
                      <!--  <a href="javascript:void(0);" title="点击查看二维码图片" style="margin-left: 10px;"
                           th:data="${alipayDealOrderEntity.orderQr}" onclick="showCode(this.getAttribute('data'))"><i
                                class="fa fa-search-plus"></i>查看二维码</a>-->
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商户账号：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.orderAccount}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">码商账户：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.orderQrUser}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单状态：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '0'}"
                      th:text="预下单"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '1'}"
                      th:text="处理中"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '2'}"
                      th:text="成功"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '3'}"
                      th:text="未收到回调"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '4'}"
                      th:text="失败"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '5'}"
                      th:text="超时"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '6'}"
                      th:text="订单申述"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderStatus eq '7'}"
                      th:text="人工处理"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单类型：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderType eq '1'}"
                      th:text="交易"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.orderType eq '2'}"
                      th:text="系统加款"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">交易金额：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.dealAmount}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手续费：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.dealFee}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实际到账：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.actualAmount}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单生成IP：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.generationIp}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">异步回调：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.notify}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">同步回调：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.back}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">通知：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.isNotify eq 'YES'}"
                      th:text="已发送"></span>
                <span class="form-control" style="border: 0;" th:if="${alipayDealOrderEntity.isNotify eq 'NO'}"
                      th:text="未发送"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">交易备注：</label>
            <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:text="${alipayDealOrderEntity.dealDescribe}"></span>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    let prefix = ctx + "alipay/orderDeal/showCode/";
    function showCode(id) {
        $.modal.openCode(null, prefix + id, '400px', '500px', null);
    }
</script>
</body>
</html>