<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易订单列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台订单：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <span>关联订单：</span>
                            <input type="text" name="associatedId"/>
                        </li>
                        <li>
                            <span>外部订单：</span>
                            <input type="text" name="externalOrderId"/>
                        </li>
                        <li>
                            <span>商户账号：</span>
                            <input type="text" name="orderAccount"/>
                        </li>
                        <li>
                            <span>码商账户：</span>
                            <input type="text" name="orderQrUser"/>
                        </li>
                        <li>
                            <span>二维码ID：</span>
                            <input type="text" name="orderQr"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('orderStatus')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="alipay:orderDeal:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-primary" onclick="$.operate.statistics('统计当天交易数据(码商)')"
               shiro:hasPermission="alipay:qr:statistics">
                <i class="fa fa-bar-chart"></i> 当天数据统计
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const editFlag = [[${@permission.hasPermi('alipay:orderDeal:edit')}]];
    const notifyFlag = [[${@permission.hasPermi('alipay:orderDeal:notify')}]];
    const updataOrder = [[${@permission.hasPermi('alipay:orderDeal:updataOrder')}]];
    const orderstatusDatas = [[${@dict.getType('orderStatus')}]];
    const prefix = ctx + "alipay/orderDeal";

    $(function () {
        var options = {
            url: prefix + "/list",
            detailUrl: prefix + "/edit/{id}",
            statisticsUrl: prefix + "/statistics/qr/table",
            exportUrl: prefix + "/export",
            modalName: "码商交易订单",
            columns: [{
                checkbox: true
            },
                {field: 'id', title: '数据id', visible: false},
                {field: 'orderId', title: '平台订单'},
                {field: 'associatedId', title: '关联订单'},
                {field: 'orderAccount', title: '商户账号'},
                {field: 'orderQrUser', title: '码商账户'},
                {
                    field: 'orderStatus', title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                {field: 'dealAmount', title: '交易金额'},
                /*  {   field: 'dealFee',       title: '手续费'    },*/
                /*                {   field: 'orderQr',       title: '关联二维码'  },*/
                /* {   field: 'externalOrderId',   title: '外部订单号'  },
                {   field: 'isNotify',      title: '发送通知'   },*/
                {field: 'createTime', title: '创建时间'},
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a> ');
                        if (row.orderStatus === '1') {
                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="renotify(\'' + row.orderId + '\')"><i class="fa fa-bell-o"></i>重新通知</a> ');
                        }
                        if (row.orderStatus != 7) {
                            actions.push('<a class="btn btn-danger btn-xs ' + updataOrder + '" href="javascript:void(0)" onclick="onUpdataOrder(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>扔给财务</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function onUpdataOrder(id) {
        $.modal.confirm("该笔订单确认转为人工处理", function () {
            $.operate.post(prefix + "/updataOrder", {"id": id});
        });
    }

    //重新通知
    function renotify(orderId) {
        $.modal.confirm("确认重新通知此订单的商户", function () {
            $.operate.post(prefix + "/renotify", {"orderId": orderId});
        });
    }
</script>
</body>
</html>