<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易订单列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台订单：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <span>关联订单：</span>
                            <input type="text" name="associatedId"/>
                        </li>
                        <li>
                            <span>外部订单：</span>
                            <input type="text" name="externalOrderId"/>
                        </li>
                        <li>
                            <span>商户账号：</span>
                            <input type="text" name="orderAccount"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>货币类型： </label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="currency"
                                    name="currency" th:with="type=${@dict.getType('currency')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:selected="${dict.dictLabel}=='CNY'? 'selected':''"
                                        th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <!--<li>
                            <span>渠道账户：</span>
                            <input type="text" name="orderQrUser"/>
                        </li>-->
                        <li class="select-selectpicker">
                            <label>产品类型：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="retain1" name="retain1">
                                <option value="">所有</option>
                                <option th:each="product : ${productList}" th:text="${product.productName}"
                                        th:value="${product.productId}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单类型：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="orderType" name="orderType">
                                <option value="">所有</option>
                                <option value="1">商户渠道主交易订单</option>
                                <option value="4">商户代付渠道主交易订单</option>
                                <option value="3">卡商充值渠道主交易订单</option>

                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>渠道类型：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="orderQrUser"
                                    name="orderQrUser">
                                <option value="">所有</option>
                                <option th:each="channel : ${rateList}" th:text="${channel.userName}"
                                        th:value="${channel.userId}"></option>
                            </select>
                        </li>
                        <!-- <li>
                             <span>二维码ID：</span>
                             <input type="text" name="orderQr"/>
                         </li>-->
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('orderStatus')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="orderDeal:qr:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-primary" onclick="$.operate.statistics('统计当天交易数据(渠道)')"
               shiro:hasPermission="orderDeal:qr:statistics">
                <i class="fa fa-bar-chart"></i> 当天数据统计
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    //权限
    const detailFlag = [[${@permission.hasPermi('orderDeal:qr:detail')}]];
    const backOrderFlag = [[${@permission.hasPermi('orderDeal:qr:backOrder')}]];
    const notifyFlag = [[${@permission.hasPermi('orderDeal:qr:renotify')}]];
    const updataOrder = [[${@permission.hasPermi('orderDeal:qr:status')}]];
    //数据
    const orderstatusDatas = [[${@dict.getType('orderStatus')}]];
    //请求路径
    const prefix = ctx + "alipay/orderDeal";

    $(function () {
        var options = {
            url: prefix + "/list",
            detailUrl: prefix + "/edit/{id}",
            statisticsUrl: prefix + "/statistics/qr/table",
            exportUrl: prefix + "/export",
            openUrl: prefix + "/updateBankCardShow/{userId}",
            backOrderUrl: prefix + "/backOrder/{id}",
            modalName: "主交易订单",
            showFooter: true,
            columns: [{
                checkbox: true
            },
                {field: 'id', title: '数据ID', visible: false},
                {
                    field: 'orderId', title: '平台订单', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '主订单：' + row.orderId + '</li>'
                        table += '<li>' + '关联订单：' + row.associatedId + '</li>'
                        table += '<li>' + '外部订单：' + row.externalOrderId + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                // {field: 'associatedId', title: '关联订单'},
                {
                    field: 'orderAccount', title: '商户账号', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '商户账号：' + row.orderAccount + '</li>'
                        table += '<li>' + '商户昵称：' + row.userName + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                // {field: 'userName', title: '商户昵称'},
                {
                    field: 'orderQrUser', title: '渠道账户', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '渠道账号：' + row.orderQrUser + '</li>'
                        table += '<li>' + '渠道昵称：' + row.channelName + '</li>'
                        table += '<li>' + '产品类型：' + row.retain1 + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                // {field: 'channelName', title: '渠道昵称'},
                {
                    field: 'orderType', title: '订单类型', formatter: function (value, row, index) {
                        if (value == 1) {
                            return '<span class="badge badge-primary">商户充值->渠道主交易订单</span>'
                        } else if (value == 4) {
                            return '<span class="badge badge-danger">商户代付->渠道出款主交易订单</span>'
                        } else if (value == 3) {
                            return '<span class="badge badge-info">卡商充值->渠道主交易订单</span>'

                        }
                    }
                },
                {
                    field: 'orderStatus', title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                // {field: 'externalOrderId',   title: '外部订单号'},
                {
                    field: 'dealAmount', title: '交易金额',
                    footerFormatter: function (rows) {
                        var sumAmount = 0;
                        var sumFee = 0;
                        var sumActualAmount = 0;
                        var sunCountAmount = 0;//数据总计代付金额
                        var sunCountAmountFee = 0;//数据总计收取手续费
                        var sunCountActualAmount = 0;//数据总计实际到账
                        for (var i in rows) {
                            sumAmount += parseFloat(rows[i].dealAmount);
                            sumFee += parseFloat(rows[i].dealFee);
                            sumActualAmount += parseFloat(rows[i].actualAmount);
                            sunCountAmount += parseFloat(rows[i].sunCountAmount);
                            sunCountAmountFee += parseFloat(rows[i].sunCountAmountFee);
                            sunCountActualAmount += parseFloat(rows[i].sunCountActualAmount);
                        }
                        var table = '<ul>'
                        table += '<li><span style="color: green"><strong>' + '当页充值金额：' + sumAmount + '</strong></span><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;<strong>当日总充值金额 ： ' + sunCountAmount + '</strong></span></li>'
                        table += '<li><span style="color: green"><strong>' + '当页充值手续费：' + sumFee + '</strong></span><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;<strong>当日总充值手续费 ： ' + sunCountAmountFee + '</strong></span></li>'
                        table += '<li><span style="color: green"><strong>' + '当页充值实际到账：' + sumActualAmount + '</strong></span><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;<strong>当日总充值实际到账 ： ' + sunCountActualAmount + '</strong></span></li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {field: 'currency', title: '货币类型'},
                {field: 'orderQr', title: '交易媒介'},
                /*                {   field: 'orderQr',       title: '关联二维码'  },*/
                /*
                {   field: 'isNotify',      title: '发送通知'   },*/
                {
                    field: 'createTime', title: '时间', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '创建时间：' + row.createTime + '</li>'
                        table += '<li>' + '修改时间：' + row.submitTime + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + backOrderFlag + '" onclick="$.operate.openAccount(\'' + row.id + '\',\'补单\',\'backOrderUrl\')"><i class="fa fa-plus"></i>补单</a> ');
                        if (row.orderStatus === '2') {
                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="renotify(\'' + row.orderId + '\')"><i class="fa fa-bell-o"></i>重新通知</a> ');
                        }
                        if (row.orderStatus != 7 && row.orderStatus != '2') {
                            actions.push('<a class="btn btn-danger btn-xs ' + updataOrder + '" href="javascript:void(0)" onclick="onUpdataOrder(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>转发财务</a> ');
                        }
                        if (row.orderStatus === '1' && row.orderType == 4) {
                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="updateBankCard(\'' + row.orderId + '\')"><i class="fa fa-bell-o"></i>修改出款卡商</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function onUpdataOrder(id) {
        $.modal.confirm("该笔订单确认转为人工处理", function () {
            $.operate.post(prefix + "/updataOrder", {"id": id});
        });
    }

    //重新通知
    function renotify(orderId) {
        $.modal.confirm("确认重新通知此订单的商户", function () {
            $.operate.post(prefix + "/renotify", {"orderId": orderId});
        });
    }

    function updateBankCard(orderId) {
        $.modal.open("修改渠道", $.operate.openUrl(orderId));
    }

    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>
