<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改交易订单')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dealOrder-edit" th:object="${dealpayDealOrder}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">平台订单：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.orderId}"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">关联订单：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.associatedId}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">外部订单：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.externalOrderId}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">商户账号：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.orderAccount}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">卡商账户：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.orderQrUser}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">银行卡编号：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.orderQr}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">订单状态：</label>
                <div class="col-sm-8">
                <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '0'}"
                      th:text="预下单"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '1'}"
                          th:text="处理中"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '2'}"
                          th:text="成功"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '3'}"
                          th:text="未收到回调"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '4'}"
                          th:text="失败"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '5'}"
                          th:text="超时"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '6'}"
                          th:text="订单申述"></span>
                    <span class="form-control" style="border: 0;" th:if="${dealpayDealOrder.orderStatus eq '7'}"
                          th:text="人工处理"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">交易金额：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.dealAmount}"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手续费：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.dealFee}"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">到账金额：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.actualAmount}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">订单生成IP：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.generationIp}"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易备注：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.dealDescribe}"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">异步回调：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.notify}"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">同步回调：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${dealpayDealOrder.back}"></span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
</body>
</html>