<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文件列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>二维码编号(本地编号)：</p>
                                <input type="text" name="fileId"/>
                            </li>
                            <li>
                                <p>二维码持有人：</p>
                                <input type="text" name="fileholder"/>
                            </li>
                            <li>
                                <p>备注：</p>
                                <input type="text" name="fileNote"/>
                            </li>
                            <li>
                                <p>是否为固码  1为固定码  2不为固定码：</p>
                                <input type="text" name="isFixation"/>
                            </li>
                            <li>
                                <p>若为固码,固码金额：</p>
                                <input type="text" name="fixationAmount"/>
                            </li>
                            <li>
                                <p>收款媒介标识:alipay(支付宝),weichar(微信),card(银行卡),other(暂未开放)：</p>
                                <input type="text" name="code"/>
                            </li>
                            <li>
                                <p>关联收款媒介ID：</p>
                                <input type="text" name="concealId"/>
                            </li>
                            <li class="select-time">
                                <p>数据生成时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                            </li>
                            <li class="select-time">
                                <p>数据修改时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSubmitTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSubmitTime]"/>
                            </li>
                            <li>
                                <p>状态:1可使用；0不可使用：</p>
                                <select name="status">
                                    <option value="">所有</option>
                                </select>
                            </li>
                            <li>
                                <p>是否逻辑删除：1删除2可用：</p>
                                <input type="text" name="isDeal"/>
                            </li>
                            <li>
                                <p>图片是否以剪裁 Y 剪裁过   字段未空则未剪裁：</p>
                                <input type="text" name="isCut"/>
                            </li>
                            <li>
                                <p>预留，添加业务使用：</p>
                                <input type="text" name="retain1"/>
                            </li>
                            <li>
                                <p>预留，添加业务使用：</p>
                                <input type="text" name="retain2"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="alipay:file:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="alipay:file:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="alipay:file:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="alipay:file:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('alipay:file:edit')}]];
        var removeFlag = [[${@permission.hasPermi('alipay:file:remove')}]];
        var prefix = ctx + "alipay/file";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "文件列",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '数据id',
                    visible: false
                },
                {
                    field : 'fileId', 
                    title : '二维码编号(本地编号)'
                },
                {
                    field : 'fileholder', 
                    title : '二维码持有人'
                },
                {
                    field : 'fileNote', 
                    title : '备注'
                },
                {
                    field : 'isFixation', 
                    title : '是否为固码  1为固定码  2不为固定码'
                },
                {
                    field : 'fixationAmount', 
                    title : '若为固码,固码金额'
                },
                {
                    field : 'code', 
                    title : '收款媒介标识:alipay(支付宝),weichar(微信),card(银行卡),other(暂未开放)'
                },
                {
                    field : 'concealId', 
                    title : '关联收款媒介ID'
                },
                {
                    field : 'createTime', 
                    title : '数据生成时间'
                },
                {
                    field : 'submitTime', 
                    title : '数据修改时间'
                },
                {
                    field : 'status', 
                    title : '状态:1可使用；0不可使用'
                },
                {
                    field : 'isDeal', 
                    title : '是否逻辑删除：1删除2可用'
                },
                {
                    field : 'isCut', 
                    title : '图片是否以剪裁 Y 剪裁过   字段未空则未剪裁'
                },
                {
                    field : 'retain1', 
                    title : '预留，添加业务使用'
                },
                {
                    field : 'retain2', 
                    title : '预留，添加业务使用'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>