<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改商户详情')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-control-merchant-edit" th:object="${alipayUserInfo}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">商户ID：</label>
            <div class="col-sm-8">
                <input name="merchantId" th:field="*{userId}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商户名称：</label>
            <div class="col-sm-8">
                <input name="merchantName" th:field="*{userName}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最小金额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" min="0" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"  name="minAmount" id="minAmount" th:field="*{minAmount}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最大金额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" min="0" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"  name="maxAmount" id="maxAmount" th:field="*{maxAmount}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">总金额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" min="0" name="totalAmount" id="totalAmount" th:field="*{totalAmount}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">下单次数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" min="0" name="timesTotal" id="timesTotal" th:field="*{timesTotal}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">开始时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="startTime" id="startTime" th:field="*{startTime}">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>时间格式：08:00:00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="endTime" id="endTime" th:field="*{endTime}">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>时间格式：20:00:00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代付IP白名单：</label>
            <div class="col-xs-8">
                <textarea id="witip" name="witip" maxlength="500" class="form-control" rows="5">[[*{witip}]]</textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>多个ip之间用英文逗号(,)隔开</span>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "control/merchant";
    $("#form-control-merchant-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        let minAmount = $("#minAmount").val();
        let maxAmount = $("#maxAmount").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        if (!$.common.isEmpty(minAmount) || !$.common.isEmpty(maxAmount)) {
            if ($.common.isEmpty(minAmount)) {
                $.modal.alertWarning("最小金额不能为空");
                return;
            }
            if ($.common.isEmpty(maxAmount)) {
                $.modal.alertWarning("最大金额不能为空");
                return;
            }
        }
        if (!$.common.isEmpty(startTime) || !$.common.isEmpty(endTime)) {
            if ($.common.isEmpty(startTime)) {
                $.modal.alertWarning("开始时间不能为空");
                return;
            }
            if ($.common.isEmpty(endTime)) {
                $.modal.alertWarning("结束时间不能为空");
                return;
            }
        }
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-control-merchant-edit').serialize());
        }
    }

</script>
</body>
</html>