<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .align-center {
            position: fixed;
            left: 30%;
            top: 40%;
        }
    </style>
</head>
<body>
<div class="align-center"
     style="letter-spacing:5px; font-size: 45px; font-family: 微软雅黑, 宋体, Arial Narrow, Helvetica, sans-serifs">
    欢迎登陆金星后台管理系统
</div>
</body>
</html>