<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增用户资金账户')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-cardFund-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">账户id【登录账户】：</label>
            <div class="col-sm-8">
                <input name="userId" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">账户昵称【登录账户名】：</label>
            <div class="col-sm-8">
                <input name="userName" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">现金账户【当前可取现】：</label>
            <div class="col-sm-8">
                <input name="cashBalance" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">充值点数：</label>
            <div class="col-sm-8">
                <input name="rechargeNumber" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">冻结账户：</label>
            <div class="col-sm-8">
                <input name="freezeBalance" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">可取现账户金额【账户余额=现金账户+充值点数-冻结金额】：</label>
            <div class="col-sm-8">
                <input name="accountBalance" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">累计入款：</label>
            <div class="col-sm-8">
                <input name="sumDealAmountR" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">累计出款：</label>
            <div class="col-sm-8">
                <input name="sumDealAmountC" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">累计利润金额：</label>
            <div class="col-sm-8">
                <input name="sumProfit" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">累计代理商利润【如果当前账户为商户则该数据为0】：</label>
            <div class="col-sm-8">
                <input name="sumAgentProfit" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">累计入款笔数：</label>
            <div class="col-sm-8">
                <input name="sumOrderCountR" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">累计出款笔数：</label>
            <div class="col-sm-8">
                <input name="sumOrderCountC" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">当日入款：</label>
            <div class="col-sm-8">
                <input name="todayDealAmountR" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">当日出款：</label>
            <div class="col-sm-8">
                <input name="todayDealAmountC" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">当日利润金额：</label>
            <div class="col-sm-8">
                <input name="todayProfit" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">当日代理商利润【如果当前账户为商户则该数据为0】：</label>
            <div class="col-sm-8">
                <input name="todayAgentProfit" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">当日入款笔数：</label>
            <div class="col-sm-8">
                <input name="todayOrderCountR" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">当日出款笔数：</label>
            <div class="col-sm-8">
                <input name="todayOrderCountC" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户类型,商户1 卡商2：</label>
            <div class="col-sm-8">
                <select name="userType" class="form-control m-b" required>
                    <option value="">所有</option>
                    <option value="1">商户</option>
                    <option value="2">码商</option>
                    <option value="3">卡商</option>
                </select>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理商id【如果存在代理商则存在数据,如果不存在代理商则为null】：</label>
            <div class="col-sm-8">
                <input name="agent" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">是否为代理商:1代理商2普通码商【分润结算类型看用户类型userType】：</label>
            <div class="col-sm-8">
                <input name="isAgent" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最后一次数据修改时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="submitTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">数据是否可用:1数据可用2数据无用：</label>
            <div class="col-sm-8">
                <div class="radio-box">
                    <input type="radio" name="status" value="" required>
                    <label th:for="status" th:text="未知"></label>
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">数据版本号【数据修改锁】：</label>
            <div class="col-sm-8">
                <input name="version" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "dealpay/cardFund"
    $("#form-cardFund-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-cardFund-add').serialize());
        }
    }

    $("input[name='submitTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>