<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('资金账户加款')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-fund-deduct" th:object="${userFund}">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">加款账号：</label>
            <div class="col-sm-9">
                <input type="text" name="userId" id="userId" th:field="*{userId}" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">加款金额：</label>
            <div class="col-sm-9">
                <input type="number" min="0" name="amount" id="amount" class="form-control" placeholder="请输入金额" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">加款理由：</label>
            <div class="col-sm-9">
                <textarea type="text" name="dealDescribe" id="dealDescribe" class="form-control"
                          placeholder="请输入文本" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资金密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="params[password]" placeholder="请输入密码">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript"> <!--dealpay:cardFund -->
var prefix = ctx + "dealpay/cardFund";
$("#form-fund-deduct").validate({
    focusCleanup: true
});

function submitHandler() {
    if ($.validate.form()) {
        $.operate.save(prefix + "/refund", $('#form-fund-deduct').serialize());
    }
}

$("input[name='submitTime']").datetimepicker({
    format: "yyyy-mm-dd",
    minView: "month",
    autoclose: true
});
</script>
</body>
</html>