<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代理数据统计</title>
    <th:block th:include="include :: header('交易数据统计')"/>
</head>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div><p>
                <h3>以下数据最终解释权归我司所有 <strong> @金星支付</strong></h3></p></div>
        </div>
        <div class="col-sm-12 select-table table-striped" style="height: 95%">
            <div id="container" style="height: 100%;width: 100%"></div>
            <!--   <div id="container1" style="height: 50%;width: 50%;float: left"></div>
               <div id="container2" style="height: 50%;width: 50%;float: right";></div>-->
        </div>
        <!--<div class="col-sm-12 select-table table-striped" style="height: 95%">
        </div>-->
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "back/app/statistics";
    var containerDateList = [[${data.CHART}]];
    var containerTimeList = [[${data.DATE}]];
    var containerUserSList = [[${data.USERS}]];
    var myChart = echarts.init(document.getElementById('container'));
    var option = {
        title: {
            text: '月度商户交易情况',
            /* subtext: '数据来源：金星支付'*/

        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: containerUserSList
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: containerTimeList
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '交易量 (元 / 人民币 / ￥)',
            }
        ],
        series: containerDateList
    };

    myChart.setOption(option);
</script>
</body>
</html>
