<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayUserRateEntityMapper">
    <resultMap type="AlipayUserRateEntity" id="AlipayUserRateEntityResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="userId"    />
        <result property="userType"    column="userType"    />
        <result property="switchs"    column="switchs"    />
        <result property="payTypr"    column="payTypr"    />
        <result property="fee"    column="fee"    />
        <result property="feeType"    column="feeType"    />
        <result property="createTime"    column="createTime"    />
        <result property="channelId"    column="channelId"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="status"    column="status"    />
        <result property="retain1"    column="retain1"    />
        <result property="retain2"    column="retain2"    />
        <result property="retain3"    column="retain3"    />
        <result property="retain4"    column="retain4"    />
        <result property="deci"    column="deci"    />
    </resultMap>

    <sql id="selectAlipayUserRateEntityVo">
        select id, userId, userType, switchs,channelId, payTypr, fee, feeType, createTime, submitTime, status, retain1, retain2, retain3, retain4,deci  from alipay_user_rate
    </sql>

    <select id="selectAlipayUserRateEntityList" parameterType="AlipayUserRateEntity" resultMap="AlipayUserRateEntityResult">
        <include refid="selectAlipayUserRateEntityVo"/>
        <where>
            userType = 1
            <if test="userId != null  and userId != ''">and userId = #{userId}</if>
            <if test="switchs != null ">and switchs = #{switchs}</if>
            <if test="payTypr != null  and payTypr != ''">and payTypr = #{payTypr}</if>
            <if test="feeType != null ">and feeType = #{feeType}</if>
            <if test="channelId != null and channelId != ''">and channelId = #{channelId}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="agentList != null ">and userId in
                <foreach item="userId" collection="agentList" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
        order by createTime desc
    </select>

    <select id="selectAlipayUserRateEntityById" parameterType="Long" resultMap="AlipayUserRateEntityResult">
        <include refid="selectAlipayUserRateEntityVo"/>
        where id = #{id}
    </select>

    <insert id="insertAlipayUserRateEntity" parameterType="AlipayUserRateEntity" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_user_rate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId,</if>
            <if test="userType != null ">userType,</if>
            <if test="switchs != null ">switchs,</if>
            <if test="payTypr != null  and payTypr != ''">payTypr,</if>
            <if test="fee != null ">fee,</if>
            <if test="feeType != null ">feeType,</if>
            <if test="channelId != null ">channelId,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="deci != null ">deci,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userType != null ">#{userType},</if>
            <if test="switchs != null ">#{switchs},</if>
            <if test="payTypr != null  and payTypr != ''">#{payTypr},</if>
            <if test="fee != null ">#{fee},</if>
            <if test="feeType != null ">#{feeType},</if>
            <if test="channelId != null ">#{channelId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="deci != null ">#{deci},</if>
         </trim>
    </insert>

    <update id="updateAlipayUserRateEntity" parameterType="AlipayUserRateEntity">
        update alipay_user_rate
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId = #{userId},</if>
            <if test="userType != null ">userType = #{userType},</if>
            <if test="switchs != null ">switchs = #{switchs},</if>
            <if test="payTypr != null  and payTypr != ''">payTypr = #{payTypr},</if>
            <if test="fee != null ">fee = #{fee},</if>
            <if test="deci != null ">deci = #{deci},</if>
            <if test="feeType != null ">feeType = #{feeType},</if>
            <if test="channelId != null ">channelId = #{channelId},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="retain1 != null and retain1 != ''">retain1 = #{retain1},</if>
            <if test="retain2 != null and retain2 != '' ">retain2 = #{retain2},</if>
            <if test="retain3 != null and retain3 != '' ">retain3 = #{retain3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayUserRateEntityById" parameterType="Long">
        delete from alipay_user_rate where id = #{id}
    </delete>

    <delete id="deleteAlipayUserRateEntityByIds" parameterType="String">
        delete from alipay_user_rate where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="findRates" parameterType="String" resultMap="AlipayUserRateEntityResult">
        select * from alipay_user_rate where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


    <!-- 查询码商的费率-->

    <select id="selectUserRateEntityList_qr" parameterType="AlipayUserRateEntity"
            resultMap="AlipayUserRateEntityResult">
        <include refid="selectAlipayUserRateEntityVo"/>
        <where>
            userType = 2
            <if test="userId != null  and userId != ''">and userId = #{userId}</if>
            <if test="switchs != null ">and switchs = #{switchs}</if>
            <if test="payTypr != null  and payTypr != ''">and payTypr = #{payTypr}</if>
            <if test="fee != null "> and fee = #{fee}</if>
            <if test="feeType != null "> and feeType = #{feeType}</if>
              <if test="channelId != null "> and channelId = #{channelId}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="submitTime != null "> and submitTime = #{submitTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <insert id="insertAlipayUserRateEntity_qr" parameterType="AlipayUserRateEntity" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_user_rate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId,</if>
            <if test="userType != null ">userType,</if>
            <if test="switchs != null ">switchs,</if>
            <if test="payTypr != null  and payTypr != ''">payTypr,</if>
            <if test="fee != null ">fee,</if>
            <if test="feeType != null ">feeType,</if>
             <if test="channelId != null ">channelId,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userType != null ">#{userType},</if>
            <if test="switchs != null ">#{switchs},</if>
            <if test="payTypr != null  and payTypr != ''">#{payTypr},</if>
            <if test="fee != null ">#{fee},</if>
            <if test="feeType != null ">#{feeType},</if>
             <if test="channelId != null ">#{channelId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
        </trim>
    </insert>

</mapper>
