<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayUserInfoMapper">

    <resultMap type="AlipayUserInfo" id="AlipayUserInfoResult">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="payPasword" column="payPasword"/>
        <result property="salt" column="salt"/>
        <result property="userType" column="userType"/>
        <result property="switchs" column="switchs"/>
        <result property="userNode" column="userNode"/>
        <result property="email" column="email"/>
        <result property="agent" column="agent"/>
        <result property="isAgent" column="isAgent"/>
        <result property="credit" column="credit"/>
        <result property="receiveOrderState" column="receiveOrderState"/>
        <result property="remitOrderState" column="remitOrderState"/>
        <result property="QQ" column="QQ"/>
        <result property="telegram" column="telegram"/>
        <result property="skype" column="skype"/>
        <result property="createTime" column="createTime"/>
        <result property="submitTime" column="submitTime"/>
        <result property="status" column="status"/>
        <result property="privateKey" column="privateKey"/>
        <result property="publicKey" column="publicKey"/>
        <result property="minAmount" column="minAmount"/>
        <result property="maxAmount" column="maxAmount"/>
        <result property="timesTotal" column="timesTotal"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="witip" column="witip"/>
        <result property="dealUrl" column="dealUrl"/>
        <result property="queueList" column="queueList"/>
        <result property="qrRechargeList" column="qrRechargeList"/>
        <result property="autoWit" column="autoWit"/>
        <result property="enterWitOpen" column="enterWitOpen"/>
        <result property="interFace" column="interFace"/>
    </resultMap>

    <sql id="selectAlipayUserInfoVo">
        select id, userId, userName, password, payPasword, salt, userType, switchs, userNode, email, agent,
        isAgent, credit, receiveOrderState, remitOrderState, QQ, telegram, skype, createTime, submitTime, status,queueList,
        privateKey, publicKey, minAmount, maxAmount, timesTotal, startTime, endTime, witip, dealUrl
        , qrRechargeList,autoWit,interFace,enterWitOpen  from alipay_user_info
    </sql>

    <select id="selectAlipayUserInfoList" parameterType="AlipayUserInfo" resultMap="AlipayUserInfoResult">
        <include refid="selectAlipayUserInfoVo"/>
        <where>
            <if test="userName != null  and userName != ''">and userName like concat('%', #{userName}, '%')</if>
            <if test="userType != null ">and userType = #{userType}</if>
            <if test="switchs != null ">and switchs = #{switchs}</if>
            <if test="agent != null  and agent != ''">and agent = #{agent}</if>
            <if test="isAgent != null  and isAgent != ''">and isAgent = #{isAgent}</if>
            <if test="credit != null ">and credit = #{credit}</if>
            <if test="receiveOrderState != null ">and receiveOrderState = #{receiveOrderState}</if>
            <if test="remitOrderState != null ">and remitOrderState = #{remitOrderState}</if>
            <if test="createTime != null ">and createTime = #{createTime}</if>
            <if test="submitTime != null ">and submitTime = #{submitTime}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="minAmount != null ">and minAmount = #{minAmount}</if>
            <if test="maxAmount != null ">and maxAmount = #{maxAmount}</if>
            <if test="timesTotal != null ">and timesTotal = #{timesTotal}</if>
            <if test="startTime != null  and startTime != ''">and startTime = #{startTime}</if>
            <if test="endTime != null  and endTime != ''">and endTime = #{endTime}</if>
            <if test="witip != null  and witip != ''">and witip = #{witip}</if>
            <if test="interFace != null  and interFace != ''">and interFace = #{interFace}</if>
            <if test="enterWitOpen != null  and enterWitOpen != ''">and enterWitOpen = #{enterWitOpen}</if>
            <if test="autoWit != null  and autoWit != ''">and autoWit = #{autoWit}</if>
        </where>
    </select>

    <select id="selectAlipayUserInfoById" parameterType="Long" resultMap="AlipayUserInfoResult">
        <include refid="selectAlipayUserInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertAlipayUserInfo" parameterType="AlipayUserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId,</if>
            <if test="userName != null  and userName != ''">userName,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="payPasword != null  and payPasword != ''">payPasword,</if>
            <if test="salt != null  and salt != ''">salt,</if>
            <if test="userType != null ">userType,</if>
            <if test="switchs != null ">switchs,</if>
            <if test="userNode != null  and userNode != ''">userNode,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="agent != null  and agent != ''">agent,</if>
            <if test="isAgent != null  and isAgent != ''">isAgent,</if>
            <if test="credit != null ">credit,</if>
            <if test="receiveOrderState != null ">receiveOrderState,</if>
            <if test="remitOrderState != null ">remitOrderState,</if>
            <if test="QQ != null  and QQ != ''">QQ,</if>
            <if test="telegram != null  and telegram != ''">telegram,</if>
            <if test="skype != null  and skype != ''">skype,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="privateKey != null  and privateKey != ''">privateKey,</if>
            <if test="publicKey != null  and publicKey != ''">publicKey,</if>
            <if test="minAmount != null ">minAmount,</if>
            <if test="maxAmount != null ">maxAmount,</if>
            <if test="timesTotal != null ">timesTotal,</if>
            <if test="startTime != null  and startTime != ''">startTime,</if>
            <if test="endTime != null  and endTime != ''">endTime,</if>
            <if test="witip != null  and witip != ''">witip,</if>
            <if test="dealUrl != null  and dealUrl != ''">dealUrl,</if>
            <if test="autoWit != null  and autoWit != ''">autoWit,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="payPasword != null  and payPasword != ''">#{payPasword},</if>
            <if test="salt != null  and salt != ''">#{salt},</if>
            <if test="userType != null ">#{userType},</if>
            <if test="switchs != null ">#{switchs},</if>
            <if test="userNode != null  and userNode != ''">#{userNode},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="agent != null  and agent != ''">#{agent},</if>
            <if test="isAgent != null  and isAgent != ''">#{isAgent},</if>
            <if test="credit != null ">#{credit},</if>
            <if test="receiveOrderState != null ">#{receiveOrderState},</if>
            <if test="remitOrderState != null ">#{remitOrderState},</if>
            <if test="QQ != null  and QQ != ''">#{QQ},</if>
            <if test="telegram != null  and telegram != ''">#{telegram},</if>
            <if test="skype != null  and skype != ''">#{skype},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="privateKey != null  and privateKey != ''">#{privateKey},</if>
            <if test="publicKey != null  and publicKey != ''">#{publicKey},</if>
            <if test="minAmount != null ">#{minAmount},</if>
            <if test="maxAmount != null ">#{maxAmount},</if>
            <if test="timesTotal != null ">#{timesTotal},</if>
            <if test="startTime != null  and startTime != ''">#{startTime},</if>
            <if test="endTime != null  and endTime != ''">#{endTime},</if>
            <if test="witip != null  and witip != ''">#{witip},</if>
            <if test="dealUrl != null  and dealUrl != ''">#{dealUrl},</if>
            <if test="autoWit != null  and autoWit != ''">#{autoWit},</if>
        </trim>
    </insert>

    <update id="updateAlipayUserInfo" parameterType="AlipayUserInfo">
        update alipay_user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">userId = #{userId},</if>
            <if test="userName != null  and userName != ''">userName = #{userName},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="payPasword != null  and payPasword != ''">payPasword = #{payPasword},</if>
            <if test="salt != null  and salt != ''">salt = #{salt},</if>
            <if test="userType != null ">userType = #{userType},</if>
            <if test="switchs != null ">switchs = #{switchs},</if>
            <if test="userNode != null  and userNode != ''">userNode = #{userNode},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="agent != null  and agent != ''">agent = #{agent},</if>
            <if test="isAgent != null  and isAgent != ''">isAgent = #{isAgent},</if>
            <if test="credit != null ">credit = #{credit},</if>
            <if test="receiveOrderState != null ">receiveOrderState = #{receiveOrderState},</if>
            <if test="remitOrderState != null ">remitOrderState = #{remitOrderState},</if>
            <if test="QQ != null  and QQ != ''">QQ = #{QQ},</if>
            <if test="telegram != null  and telegram != ''">telegram = #{telegram},</if>
            <if test="skype != null  and skype != ''">skype = #{skype},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="privateKey != null  and privateKey != ''">privateKey = #{privateKey},</if>
            <if test="publicKey != null  and publicKey != ''">publicKey = #{publicKey},</if>
            <if test="minAmount != null ">minAmount = #{minAmount},</if>
            <if test="maxAmount != null ">maxAmount = #{maxAmount},</if>
            <if test="timesTotal != null ">timesTotal = #{timesTotal},</if>
            <if test="startTime != null  and startTime != ''">startTime = #{startTime},</if>
            <if test="endTime != null  and endTime != ''">endTime = #{endTime},</if>
            <if test="witip != null  and witip != ''">witip = #{witip},</if>
            <if test="dealUrl != null  and dealUrl != ''">dealUrl = #{dealUrl},</if>
            <if test="qrRechargeList != null  and qrRechargeList != ''">qrRechargeList = #{qrRechargeList},</if>
            <if test="queueList != null  and queueList != ''">queueList = #{queueList},</if>
            <if test="autoWit != null  and autoWit != ''">autoWit = #{autoWit},</if>
            <if test="interFace != null  and interFace != ''">interFace = #{interFace},</if>
            <if test="enterWitOpen != null  and enterWitOpen != ''">enterWitOpen = #{enterWitOpen},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayUserInfoById" parameterType="Long">
        delete from alipay_user_info where id = #{id}
    </delete>

    <delete id="deleteAlipayUserInfoByIds" parameterType="String">
        delete from alipay_user_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
