<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayRechargeEntityMapper">
    
    <resultMap type="AlipayRechargeEntity" id="AlipayRechargeEntityResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="orderId"    />
        <result property="userId"    column="userId"    />
        <result property="rechargeType"    column="rechargeType"    />
        <result property="chargeReason"    column="chargeReason"    />
        <result property="isTripartite"    column="isTripartite"    />
        <result property="orderStatus"    column="orderStatus"    />
        <result property="depositor"    column="depositor"    />
        <result property="amount"    column="amount"    />
        <result property="orderType"    column="orderType"    />
        <result property="fee"    column="fee"    />
        <result property="actualAmount"    column="actualAmount"    />
        <result property="chargeBankcard"    column="chargeBankcard"    />
        <result property="phone"    column="phone"    />
        <result property="notfiy"    column="notfiy"    />
        <result property="chargeCard"    column="chargeCard"    />
        <result property="chargePerson"    column="chargePerson"    />
        <result property="createTime"    column="createTime"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="status"    column="status"    />
        <result property="retain1"    column="retain1"    />
    </resultMap>

    <sql id="selectAlipayRechargeEntityVo">
        select id, orderId, userId, rechargeType, chargeReason, isTripartite, orderStatus, depositor, amount, orderType, fee, actualAmount, chargeBankcard, phone, notfiy, chargeCard, chargePerson, createTime, submitTime, status, retain1 from alipay_recharge
    </sql>

    <select id="selectAlipayRechargeEntityList" parameterType="AlipayRechargeEntity" resultMap="AlipayRechargeEntityResult">
        <include refid="selectAlipayRechargeEntityVo"/>
        <where>
            createTime between #{params.dayStart} and #{params.dayEnd}
            <if test="orderId != null  and orderId != ''"> and orderId = #{orderId}</if>
            <if test="userId != null  and userId != ''"> and userId = #{userId}</if>
            <if test="rechargeType != null  and rechargeType != ''"> and rechargeType = #{rechargeType}</if>
            <if test="chargeReason != null  and chargeReason != ''"> and chargeReason = #{chargeReason}</if>
            <if test="isTripartite != null  and isTripartite != ''"> and isTripartite = #{isTripartite}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and orderStatus = #{orderStatus}</if>
            <if test="depositor != null  and depositor != ''"> and depositor = #{depositor}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="orderType != null  and orderType != ''"> and orderType = #{orderType}</if>
            <if test="fee != null "> and fee = #{fee}</if>
            <if test="actualAmount != null "> and actualAmount = #{actualAmount}</if>
            <if test="chargeBankcard != null  and chargeBankcard != ''"> and chargeBankcard = #{chargeBankcard}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="notfiy != null  and notfiy != ''"> and notfiy = #{notfiy}</if>
            <if test="chargeCard != null  and chargeCard != ''"> and chargeCard = #{chargeCard}</if>
            <if test="chargePerson != null  and chargePerson != ''"> and chargePerson = #{chargePerson}</if>
          <!--  <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="submitTime != null "> and submitTime = #{submitTime}</if> -->
            <if test="status != null "> and status = #{status}</if>
            <if test="retain1 != null  and retain1 != ''"> and retain1 = #{retain1}</if>
        </where>
    </select>
    
    <select id="selectAlipayRechargeEntityById" parameterType="Long" resultMap="AlipayRechargeEntityResult">
        <include refid="selectAlipayRechargeEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlipayRechargeEntity" parameterType="AlipayRechargeEntity" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">orderId,</if>
            <if test="userId != null  and userId != ''">userId,</if>
            <if test="rechargeType != null  and rechargeType != ''">rechargeType,</if>
            <if test="chargeReason != null  and chargeReason != ''">chargeReason,</if>
            <if test="isTripartite != null  and isTripartite != ''">isTripartite,</if>
            <if test="orderStatus != null  and orderStatus != ''">orderStatus,</if>
            <if test="depositor != null  and depositor != ''">depositor,</if>
            <if test="amount != null ">amount,</if>
            <if test="orderType != null  and orderType != ''">orderType,</if>
            <if test="fee != null ">fee,</if>
            <if test="actualAmount != null ">actualAmount,</if>
            <if test="chargeBankcard != null  and chargeBankcard != ''">chargeBankcard,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="notfiy != null  and notfiy != ''">notfiy,</if>
            <if test="chargeCard != null  and chargeCard != ''">chargeCard,</if>
            <if test="chargePerson != null  and chargePerson != ''">chargePerson,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="retain1 != null  and retain1 != ''">retain1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="rechargeType != null  and rechargeType != ''">#{rechargeType},</if>
            <if test="chargeReason != null  and chargeReason != ''">#{chargeReason},</if>
            <if test="isTripartite != null  and isTripartite != ''">#{isTripartite},</if>
            <if test="orderStatus != null  and orderStatus != ''">#{orderStatus},</if>
            <if test="depositor != null  and depositor != ''">#{depositor},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="orderType != null  and orderType != ''">#{orderType},</if>
            <if test="fee != null ">#{fee},</if>
            <if test="actualAmount != null ">#{actualAmount},</if>
            <if test="chargeBankcard != null  and chargeBankcard != ''">#{chargeBankcard},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="notfiy != null  and notfiy != ''">#{notfiy},</if>
            <if test="chargeCard != null  and chargeCard != ''">#{chargeCard},</if>
            <if test="chargePerson != null  and chargePerson != ''">#{chargePerson},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="retain1 != null  and retain1 != ''">#{retain1},</if>
         </trim>
    </insert>

    <update id="updateAlipayRechargeEntity" parameterType="AlipayRechargeEntity">
        update alipay_recharge
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">orderId = #{orderId},</if>
            <if test="userId != null  and userId != ''">userId = #{userId},</if>
            <if test="rechargeType != null  and rechargeType != ''">rechargeType = #{rechargeType},</if>
            <if test="chargeReason != null  and chargeReason != ''">chargeReason = #{chargeReason},</if>
            <if test="isTripartite != null  and isTripartite != ''">isTripartite = #{isTripartite},</if>
            <if test="orderStatus != null  and orderStatus != ''">orderStatus = #{orderStatus},</if>
            <if test="depositor != null  and depositor != ''">depositor = #{depositor},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="orderType != null  and orderType != ''">orderType = #{orderType},</if>
            <if test="fee != null ">fee = #{fee},</if>
            <if test="actualAmount != null ">actualAmount = #{actualAmount},</if>
            <if test="chargeBankcard != null  and chargeBankcard != ''">chargeBankcard = #{chargeBankcard},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="notfiy != null  and notfiy != ''">notfiy = #{notfiy},</if>
            <if test="chargeCard != null  and chargeCard != ''">chargeCard = #{chargeCard},</if>
            <if test="chargePerson != null  and chargePerson != ''">chargePerson = #{chargePerson},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="retain1 != null  and retain1 != ''">retain1 = #{retain1},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayRechargeEntityById" parameterType="Long">
        delete from alipay_recharge where id = #{id}
    </delete>

    <delete id="deleteAlipayRechargeEntityByIds" parameterType="String">
        delete from alipay_recharge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>