<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AlipayMediumMapper">
    
    <resultMap type="AlipayMedium" id="AlipayMediumResult">
        <result property="id"    column="id"    />
        <result property="mediumid"    column="mediumId"    />
        <result property="mediumnumber"    column="mediumNumber"    />
        <result property="mediumholder"    column="mediumHolder"    />
        <result property="mediumnote"    column="mediumNote"    />
        <result property="mediumphone"    column="mediumPhone"    />
        <result property="qrcodeid"    column="qrcodeId"    />
        <result property="code"    column="code"    />
        <result property="createtime"    column="createTime"    />
        <result property="submittime"    column="submitTime"    />
        <result property="status"    column="status"    />
        <result property="isdeal"    column="isDeal"    />
    </resultMap>

    <sql id="selectAlipayMediumVo">
        select id, mediumId, mediumNumber, mediumHolder, mediumNote, mediumPhone, qrcodeId, code, createTime, submitTime, status, isDeal from alipay_medium
    </sql>

    <select id="selectAlipayMediumList" parameterType="AlipayMedium" resultMap="AlipayMediumResult">
        <include refid="selectAlipayMediumVo"/>
        <where>  
            <if test="mediumholder != null  and mediumholder != ''"> and mediumHolder = #{mediumholder}</if>
            <if test="mediumnote != null  and mediumnote != ''"> and mediumNote = #{mediumnote}</if>
            <if test="mediumphone != null  and mediumphone != ''"> and mediumPhone = #{mediumphone}</if>
            <if test="qrcodeid != null  and qrcodeid != ''"> and qrcodeId = #{qrcodeid}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="createtime != null "> and createTime = #{createtime}</if>
            <if test="submittime != null "> and submitTime = #{submittime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isdeal != null  and isdeal != ''"> and isDeal = #{isdeal}</if>
        </where>
    </select>
    
    <select id="selectAlipayMediumById" parameterType="Long" resultMap="AlipayMediumResult">
        <include refid="selectAlipayMediumVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlipayMedium" parameterType="AlipayMedium" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_medium
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mediumid != null  and mediumid != ''">mediumId,</if>
            <if test="mediumnumber != null  and mediumnumber != ''">mediumNumber,</if>
            <if test="mediumholder != null  and mediumholder != ''">mediumHolder,</if>
            <if test="mediumnote != null  and mediumnote != ''">mediumNote,</if>
            <if test="mediumphone != null  and mediumphone != ''">mediumPhone,</if>
            <if test="qrcodeid != null  and qrcodeid != ''">qrcodeId,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="createtime != null ">createTime,</if>
            <if test="submittime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="isdeal != null  and isdeal != ''">isDeal,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mediumid != null  and mediumid != ''">#{mediumid},</if>
            <if test="mediumnumber != null  and mediumnumber != ''">#{mediumnumber},</if>
            <if test="mediumholder != null  and mediumholder != ''">#{mediumholder},</if>
            <if test="mediumnote != null  and mediumnote != ''">#{mediumnote},</if>
            <if test="mediumphone != null  and mediumphone != ''">#{mediumphone},</if>
            <if test="qrcodeid != null  and qrcodeid != ''">#{qrcodeid},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="createtime != null ">#{createtime},</if>
            <if test="submittime != null ">#{submittime},</if>
            <if test="status != null ">#{status},</if>
            <if test="isdeal != null  and isdeal != ''">#{isdeal},</if>
         </trim>
    </insert>

    <update id="updateAlipayMedium" parameterType="AlipayMedium">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumid != null  and mediumid != ''">mediumId = #{mediumid},</if>
            <if test="mediumnumber != null  and mediumnumber != ''">mediumNumber = #{mediumnumber},</if>
            <if test="mediumholder != null  and mediumholder != ''">mediumHolder = #{mediumholder},</if>
            <if test="mediumnote != null  and mediumnote != ''">mediumNote = #{mediumnote},</if>
            <if test="mediumphone != null  and mediumphone != ''">mediumPhone = #{mediumphone},</if>
            <if test="qrcodeid != null  and qrcodeid != ''">qrcodeId = #{qrcodeid},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="createtime != null ">createTime = #{createtime},</if>
            <if test="submittime != null ">submitTime = #{submittime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isdeal != null  and isdeal != ''">isDeal = #{isdeal},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayMediumById" parameterType="Long">
        delete from alipay_medium where id = #{id}
    </delete>

    <delete id="deleteAlipayMediumByIds" parameterType="String">
        delete from alipay_medium where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>