<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayDealOrderEntityMapper">
    
    <resultMap type="AlipayDealOrderEntity" id="AlipayDealOrderEntityResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="orderId"    />
        <result property="associatedId"    column="associatedId"    />
        <result property="orderStatus"    column="orderStatus"    />
        <result property="dealAmount"    column="dealAmount"    />
        <result property="dealFee"    column="dealFee"    />
        <result property="actualAmount"    column="actualAmount"    />
        <result property="orderType"    column="orderType"    />
        <result property="orderAccount"    column="orderAccount"    />
        <result property="orderQrUser"    column="orderQrUser"    />
        <result property="orderQr"    column="orderQr"    />
        <result property="externalOrderId"    column="externalOrderId"    />
        <result property="generationIp"    column="generationIp"    />
        <result property="dealDescribe"    column="dealDescribe"    />
        <result property="notify"    column="notify"    />
        <result property="back"    column="back"    />
        <result property="isNotify"    column="isNotify"    />
        <result property="createTime"    column="createTime"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="feeId"    column="feeId"    />
        <result property="status"    column="status"    />
        <result property="retain1"    column="retain1"    />
        <result property="retain2"    column="retain2"    />
        <result property="retain3"    column="retain3"    />
        <result property="retain4"    column="retain4"    />
    </resultMap>

    <sql id="selectAlipayDealOrderEntityVo">
        select id, orderId, associatedId, orderStatus, dealAmount, dealFee, actualAmount, orderType, orderAccount, orderQrUser, orderQr, externalOrderId, generationIp, dealDescribe, notify, back, isNotify, createTime, submitTime, feeId, status, retain1, retain2, retain3, retain4 from alipay_deal_order
    </sql>
    <select id="selectAlipayDealOrderEntityList" parameterType="AlipayDealOrderEntity" resultMap="AlipayDealOrderEntityResult">
        <include refid="selectAlipayDealOrderEntityVo"/>
        <where>
            createTime between #{params.dayStart} and #{params.dayEnd}
            <if test="orderId != null  and orderId != ''"> and orderId = #{orderId}</if>
            <if test="associatedId != null  and associatedId != ''"> and associatedId = #{associatedId}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and orderStatus = #{orderStatus}</if>
            <if test="dealAmount != null "> and dealAmount = #{dealAmount}</if>
            <if test="dealFee != null "> and dealFee = #{dealFee}</if>
            <if test="actualAmount != null "> and actualAmount = #{actualAmount}</if>
            <if test="orderType != null  and orderType != ''"> and orderType = #{orderType}</if>
            <if test="orderAccount != null  and orderAccount != ''"> and orderAccount = #{orderAccount}</if>
            <if test="orderQrUser != null  and orderQrUser != ''"> and orderQrUser = #{orderQrUser}</if>
            <if test="orderQr != null  and orderQr != ''"> and orderQr = #{orderQr}</if>
            <if test="externalOrderId != null  and externalOrderId != ''"> and externalOrderId = #{externalOrderId}</if>
            <if test="generationIp != null  and generationIp != ''"> and generationIp = #{generationIp}</if>
            <if test="dealDescribe != null  and dealDescribe != ''"> and dealDescribe = #{dealDescribe}</if>
            <if test="isNotify != null  and isNotify != ''"> and isNotify = #{isNotify}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by orderStatus=1 desc,createTime asc
    </select>


    <select id="selectAlipayOrderList" parameterType="AlipayDealOrderEntity" resultMap="AlipayDealOrderEntityResult">
        <include refid="selectAlipayDealOrderEntityVo"/>
        <where>
            <if test="orderId != null  and orderId != ''"> and orderId = #{orderId}</if>
            <if test="associatedId != null  and associatedId != ''"> and associatedId = #{associatedId}</if>
            <choose>
                <when test="orderStatus != null  and orderStatus != ''">
                    and orderStatus = #{orderStatus}
                </when>
                <otherwise>
                    and (orderStatus = 2 or orderStatus = 7 )
                </otherwise>
            </choose>
            <if test="orderType != null  and orderType != ''"> and orderType = #{orderType}</if>
            <if test="orderAccount != null  and orderAccount != ''"> and orderAccount = #{orderAccount}</if>
            <if test="orderQrUser != null  and orderQrUser != ''"> and orderQrUser = #{orderQrUser}</if>
            <if test="orderQr != null  and orderQr != ''"> and orderQr = #{orderQr}</if>
            <if test="externalOrderId != null  and externalOrderId != ''"> and externalOrderId = #{externalOrderId}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="submitTime != null "> and submitTime = #{submitTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAlipayDealOrderEntityById" parameterType="Long" resultMap="AlipayDealOrderEntityResult">
        <include refid="selectAlipayDealOrderEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlipayDealOrderEntity" parameterType="AlipayDealOrderEntity" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_deal_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">orderId,</if>
            <if test="associatedId != null  and associatedId != ''">associatedId,</if>
            <if test="orderStatus != null  and orderStatus != ''">orderStatus,</if>
            <if test="dealAmount != null ">dealAmount,</if>
            <if test="dealFee != null ">dealFee,</if>
            <if test="actualAmount != null ">actualAmount,</if>
            <if test="orderType != null  and orderType != ''">orderType,</if>
            <if test="orderAccount != null  and orderAccount != ''">orderAccount,</if>
            <if test="orderQrUser != null  and orderQrUser != ''">orderQrUser,</if>
            <if test="orderQr != null  and orderQr != ''">orderQr,</if>
            <if test="externalOrderId != null  and externalOrderId != ''">externalOrderId,</if>
            <if test="generationIp != null  and generationIp != ''">generationIp,</if>
            <if test="dealDescribe != null  and dealDescribe != ''">dealDescribe,</if>
            <if test="notify != null  and notify != ''">notify,</if>
            <if test="back != null  and back != ''">back,</if>
            <if test="isNotify != null  and isNotify != ''">isNotify,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="feeId != null ">feeId,</if>
            <if test="status != null ">status,</if>
            <if test="retain1 != null  and retain1 != ''">retain1,</if>
            <if test="retain2 != null  and retain2 != ''">retain2,</if>
            <if test="retain3 != null  and retain3 != ''">retain3,</if>
            <if test="retain4 != null  and retain4 != ''">retain4,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="associatedId != null  and associatedId != ''">#{associatedId},</if>
            <if test="orderStatus != null  and orderStatus != ''">#{orderStatus},</if>
            <if test="dealAmount != null ">#{dealAmount},</if>
            <if test="dealFee != null ">#{dealFee},</if>
            <if test="actualAmount != null ">#{actualAmount},</if>
            <if test="orderType != null  and orderType != ''">#{orderType},</if>
            <if test="orderAccount != null  and orderAccount != ''">#{orderAccount},</if>
            <if test="orderQrUser != null  and orderQrUser != ''">#{orderQrUser},</if>
            <if test="orderQr != null  and orderQr != ''">#{orderQr},</if>
            <if test="externalOrderId != null  and externalOrderId != ''">#{externalOrderId},</if>
            <if test="generationIp != null  and generationIp != ''">#{generationIp},</if>
            <if test="dealDescribe != null  and dealDescribe != ''">#{dealDescribe},</if>
            <if test="notify != null  and notify != ''">#{notify},</if>
            <if test="back != null  and back != ''">#{back},</if>
            <if test="isNotify != null  and isNotify != ''">#{isNotify},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="feeId != null ">#{feeId},</if>
            <if test="status != null ">#{status},</if>
            <if test="retain1 != null  and retain1 != ''">#{retain1},</if>
            <if test="retain2 != null  and retain2 != ''">#{retain2},</if>
            <if test="retain3 != null  and retain3 != ''">#{retain3},</if>
            <if test="retain4 != null  and retain4 != ''">#{retain4},</if>
         </trim>
    </insert>

    <update id="updateAlipayDealOrderEntity" parameterType="AlipayDealOrderEntity">
        update alipay_deal_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">orderId = #{orderId},</if>
            <if test="associatedId != null  and associatedId != ''">associatedId = #{associatedId},</if>
            <if test="orderStatus != null  and orderStatus != ''">orderStatus = #{orderStatus},</if>
            <if test="dealAmount != null ">dealAmount = #{dealAmount},</if>
            <if test="dealFee != null ">dealFee = #{dealFee},</if>
            <if test="actualAmount != null ">actualAmount = #{actualAmount},</if>
            <if test="orderType != null  and orderType != ''">orderType = #{orderType},</if>
            <if test="orderAccount != null  and orderAccount != ''">orderAccount = #{orderAccount},</if>
            <if test="orderQrUser != null  and orderQrUser != ''">orderQrUser = #{orderQrUser},</if>
            <if test="orderQr != null  and orderQr != ''">orderQr = #{orderQr},</if>
            <if test="externalOrderId != null  and externalOrderId != ''">externalOrderId = #{externalOrderId},</if>
            <if test="generationIp != null  and generationIp != ''">generationIp = #{generationIp},</if>
            <if test="dealDescribe != null  and dealDescribe != ''">dealDescribe = #{dealDescribe},</if>
            <if test="notify != null  and notify != ''">notify = #{notify},</if>
            <if test="back != null  and back != ''">back = #{back},</if>
            <if test="isNotify != null  and isNotify != ''">isNotify = #{isNotify},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="feeId != null ">feeId = #{feeId},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="retain1 != null  and retain1 != ''">retain1 = #{retain1},</if>
            <if test="retain2 != null  and retain2 != ''">retain2 = #{retain2},</if>
            <if test="retain3 != null  and retain3 != ''">retain3 = #{retain3},</if>
            <if test="retain4 != null  and retain4 != ''">retain4 = #{retain4},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayDealOrderEntityById" parameterType="Long">
        delete from alipay_deal_order where id = #{id}
    </delete>

    <delete id="deleteAlipayDealOrderEntityByIds" parameterType="String">
        delete from alipay_deal_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>