<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayWithdrawEntityMapper">

    <resultMap type="AlipayWithdrawEntity" id="AlipayWithdrawEntityResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="orderId"    />
        <result property="userId"    column="userId"    />
        <result property="withdrawType"    column="withdrawType"    />
        <result property="bankNo"    column="bankNo"    />
        <result property="accname"    column="accname"    />
        <result property="orderStatus"    column="orderStatus"    />
        <result property="bankName"    column="bankName"    />
        <result property="amount"    column="amount"    />
        <result property="amount1"    column="amount1"    />
        <result property="fee"    column="fee"    />
        <result property="fee1"    column="fee1"    />
        <result property="actualAmount"    column="actualAmount"    />
        <result property="actualAmount1"    column="actualAmount1"    />
        <result property="mobile"    column="mobile"    />
        <result property="notify"    column="notify"    />
        <result property="createTime"    column="createTime"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="status"    column="status"    />
        <result property="retain1" column="retain1"/>
        <result property="retain2" column="retain2"/>
        <result property="apply" column="apply"/>
        <result property="approval" column="approval"/>
        <result property="comment" column="comment"/>
        <result property="witChannel" column="witChannel"/>
        <result property="witType" column="witType"/>
        <result property="channelId" column="channelId"/>
        <result property="appOrderId" column="appOrderId"/>
        <result property="currency" column="currency"/>
        <result property="ethFee" column="ethFee"/>
        <result property="txhash" column="txhash"/>
        <result property="sunCountAmount" column="sunCountAmount"/>
        <result property="sunCountAmountFee" column="sunCountAmountFee"/>
        <result property="sunCountActualAmount" column="sunCountActualAmount"/>
        <result property="pushOrder" column="pushOrder"/>




        <result property="macthMsg" column="macthMsg"/>
        <result property="macthStatus" column="macthStatus"/>
        <result property="payStatus" column="payStatus"/>
        <result property="macthLock" column="macthLock"/>
        <result property="moreMacth" column="moreMacth"/>
        <result property="macthCount" column="macthCount"/>
        <result property="macthTime" column="macthTime"/>
        <result property="watingTime" column="watingTime"/>



    </resultMap>

    <sql id="selectAlipayWithdrawEntityVo">
        select id, orderId, userId, withdrawType, bankNo, accname,macthTime,sgin,
         orderStatus, bankName, amount, fee, actualAmount,amount1, fee1, actualAmount1, mobile,watingTime,
         notify, createTime, submitTime, status, retain1, retain2, apply, comment, approval,witChannel,witType,
        channelId,appOrderId,currency ,txhash,ethFee,pushOrder,macthMsg,macthStatus,payStatus,macthLock,moreMacth,macthCount
          from alipay_withdraw
    </sql>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.alipay.domain.AlipayWithdrawEntity" >
        update alipay_withdraw
        <set >
            <if test="orderId != null" >
                orderId = #{orderId,jdbcType=CHAR},
            </if>
            <if test="userId != null" >
                userId = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="withdrawType != null" >
                withdrawType = #{withdrawType,jdbcType=CHAR},
            </if>
            <if test="bankNo != null" >
                bankNo = #{bankNo,jdbcType=VARCHAR},
            </if>
            <if test="accname != null" >
                accname = #{accname,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                orderStatus = #{orderStatus,jdbcType=CHAR},
            </if>
            <if test="bankName != null" >
                bankName = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankcode != null" >
                bankcode = #{bankcode,jdbcType=VARCHAR},
            </if>
            <if test="amount != null" >
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="fee != null" >
                fee = #{fee,jdbcType=DECIMAL},
            </if>
            <if test="witChannel != null" >
                witChannel = #{witChannel },
            </if>
            <if test="actualAmount != null" >
                actualAmount = #{actualAmount,jdbcType=DECIMAL},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=CHAR},
            </if>
            <if test="notify != null" >
                notify = #{notify,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="submitTime != null" >
                submitTime = #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="retain1 != null" >
                retain1 = #{retain1,jdbcType=CHAR},
            </if>
            <if test="retain2 != null" >
                retain2 = #{retain2,jdbcType=CHAR},
            </if>
            <if test="witType != null" >
                witType = #{witType},
            </if>
            <if test="appOrderId != null" >
                appOrderId = #{appOrderId},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAlipayWithdrawEntityList" parameterType="AlipayWithdrawEntity" resultMap="AlipayWithdrawEntityResult">
        <include refid="selectAlipayWithdrawEntityVo"/>
        <where>
            createTime between #{params.dayStart} and #{params.dayEnd}
            <if test="orderId != null  and orderId != ''">and orderId = #{orderId}</if>
            <if test="userId != null  and userId != ''">and userId = #{userId}</if>
            <if test="withdrawType != null  and withdrawType != ''">and withdrawType = #{withdrawType}</if>
            <if test="bankNo != null  and bankNo != ''">and bankNo = #{bankNo}</if>
            <if test="accname != null  and accname != ''">and accname like concat('%', #{accname}, '%')</if>
            <if test="orderStatus != null  and orderStatus != ''">and orderStatus = #{orderStatus}</if>
            <if test="bankName != null  and bankName != ''">and bankName like concat('%', #{bankName}, '%')</if>
            <if test="mobile != null  and mobile != ''">and mobile = #{mobile}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="retain1 != null and retain1 != '' ">and retain1 = #{retain1}</if>
            <if test="channelId != null  and channelId != ''">and channelId = #{channelId}</if>
            <if test="appOrderId != null  and appOrderId != ''">and appOrderId = #{appOrderId}</if>
            <if test="witChannel != null  and witChannel != ''">and witChannel = #{witChannel}</if>
            <if test="currency != null  and currency != ''">and currency = #{currency}</if>

            <if test="macthStatus != null  and macthStatus != ''">and macthStatus = #{macthStatus}</if>
            <if test="payStatus != null  and payStatus != ''">and payStatus = #{payStatus}</if>
            <if test="macthLock != null  and macthLock != ''">and macthLock = #{macthLock}</if>
            <if test="moreMacth != null  and moreMacth != ''">and moreMacth = #{moreMacth}</if>

        </where>
        order by id desc
    </select>

    <select id="selectAlipayWithdrawEntityById" parameterType="Long" resultMap="AlipayWithdrawEntityResult">
        <include refid="selectAlipayWithdrawEntityVo"/>
        where id = #{id}
    </select>

    <select id="selectAlipayWithdrawEntityByIds" parameterType="String" resultMap="AlipayWithdrawEntityResult">
        <include refid="selectAlipayWithdrawEntityVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectAlipayWithdrawEntityListSum" parameterType="AlipayWithdrawEntity"
            resultMap="AlipayWithdrawEntityResult">
        select sum(s.amount) as sunCountAmount ,
        sum(s.fee) as sunCountAmountFee,
        sum(s.actualAmount) as sunCountActualAmount
        from (
        select
        amount, fee, actualAmount
        from alipay_withdraw
        <where>
            createTime between #{params.dayStart} and #{params.dayEnd}
            <if test="orderId != null  and orderId != ''">and orderId = #{orderId}</if>
            <if test="userId != null  and userId != ''">and userId = #{userId}</if>
            <if test="withdrawType != null  and withdrawType != ''">and withdrawType = #{withdrawType}</if>
            <if test="bankNo != null  and bankNo != ''">and bankNo = #{bankNo}</if>
            <if test="accname != null  and accname != ''">and accname like concat('%', #{accname}, '%')</if>
            <if test="orderStatus != null  and orderStatus != ''">and orderStatus = #{orderStatus}</if>
            <if test="bankName != null  and bankName != ''">and bankName like concat('%', #{bankName}, '%')</if>
            <if test="mobile != null  and mobile != ''">and mobile = #{mobile}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="retain1 != null and retain1 != '' ">and retain1 = #{retain1}</if>
            <if test="channelId != null  and channelId != ''">and channelId = #{channelId}</if>
            <if test="appOrderId != null  and appOrderId != ''">and appOrderId = #{appOrderId}</if>
            <if test="witChannel != null  and witChannel != ''">and witChannel = #{witChannel}</if>
            <if test="currency != null  and currency != ''">and currency = #{currency}</if>
        </where>
        ) as s ;


    </select>


</mapper>
