<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayMediumEntityMapper">

    <resultMap type="AlipayMediumEntity" id="AlipayMediumEntityResult">
        <result property="id" column="id"/>
        <result property="mediumId" column="mediumId"/>
        <result property="mediumNumber" column="mediumNumber"/>
        <result property="mediumHolder" column="mediumHolder"/>
        <result property="mediumNote" column="mediumNote"/>
        <result property="mediumPhone" column="mediumPhone"/>
        <result property="qrcodeId" column="qrcodeId"/>
        <result property="code" column="code"/>
        <result property="createTime" column="createTime"/>
        <result property="submitTime" column="submitTime"/>
        <result property="status" column="status"/>
        <result property="isDeal" column="isDeal"/>

        <result column="attr" property="attr" jdbcType="VARCHAR"/>
        <result column="notfiyMask" property="notfiyMask" jdbcType="VARCHAR"/>
        <result column="bankcode" property="bankcode" jdbcType="CHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="mountNow" property="mountNow" jdbcType="DECIMAL"/>
        <result column="mountSystem" property="mountSystem" jdbcType="DECIMAL"/>
        <result column="mountLimit" property="mountLimit" jdbcType="DECIMAL"/>

    </resultMap>

    <sql id="selectAlipayMediumEntityVo">
        select id,
               mediumId,
               mediumNumber,
               mediumHolder,
               mediumNote,
               mediumPhone,
               qrcodeId,
               code,
               createTime,
               submitTime,
               status,
               isDeal,

               attr,
               bankcode,
               account,
               mountNow,
               mountSystem,
               mountLimit,
               notfiyMask


        from alipay_medium
    </sql>

    <select id="selectAlipayMediumEntityList" parameterType="AlipayMediumEntity" resultMap="AlipayMediumEntityResult">
        <include refid="selectAlipayMediumEntityVo"/>
        <where>
            isDeal = 2
            <if test="mediumHolder != null  and mediumHolder != ''">and mediumHolder = #{mediumHolder}</if>
            <if test="mediumNote != null  and mediumNote != ''">and mediumNote = #{mediumNote}</if>
            <if test="mediumPhone != null  and mediumPhone != ''">and mediumPhone = #{mediumPhone}</if>
            <if test="qrcodeId != null  and qrcodeId != ''">and qrcodeId = #{qrcodeId}</if>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="createTime != null ">and createTime = #{createTime}</if>
            <if test="submitTime != null ">and submitTime = #{submitTime}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
        order by qrcodeId, createTime desc
    </select>

    <select id="selectAlipayMediumEntityById" parameterType="Long" resultMap="AlipayMediumEntityResult">
        <include refid="selectAlipayMediumEntityVo"/>
        where id = #{id}
    </select>

    <select id="selectCodeByAlipayMediumEntity" resultType="java.lang.String">
        select account
        from alipay_medium
        group by account;
    </select>

    <insert id="insertAlipayMediumEntity" parameterType="AlipayMediumEntity" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_medium
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId,</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber,</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder,</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote,</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone,</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="isDeal != null  and isDeal != ''">isDeal,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">#{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">#{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">#{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">#{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">#{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">#{qrcodeId},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="isDeal != null  and isDeal != ''">#{isDeal},</if>
        </trim>
    </insert>

    <update id="updateAlipayMediumEntity" parameterType="AlipayMediumEntity">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId = #{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber = #{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder = #{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote = #{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone = #{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId = #{qrcodeId},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isDeal != null  and isDeal != ''">isDeal = #{isDeal},</if>
            <if test="attr != null  and attr != ''">attr = #{attr},</if>
            <if test="mountNow != null  and mountNow != ''">mountNow = #{mountNow},</if>
            <if test="mountSystem != null  and mountSystem != ''">mountSystem = #{mountSystem},</if>
            <if test="mountLimit != null  and mountLimit != ''">mountLimit = #{mountLimit},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateAlipayMediumEntityBycondition" parameterType="AlipayMediumEntity">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mountNow != null  and mountNow != ''">mountNow = #{mountNow},</if>
        </trim>
        where mediumPhone = #{mediumPhone} and account=#{account} and notfiyMask=#{notfiyMask}
    </update>

    <update id="updateAlipayMediumEntityByAccount" parameterType="AlipayMediumEntity">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId = #{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber = #{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder = #{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote = #{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone = #{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId = #{qrcodeId},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="code != null ">code = #{code},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isDeal != null  and isDeal != ''">isDeal = #{isDeal},</if>
            <if test="attr != null  and attr != ''">attr = #{attr},</if>
            <if test="mountNow != null  and mountNow != ''">mountNow = #{mountNow},</if>
            <if test="mountSystem != null  and mountSystem != ''">mountSystem = #{mountSystem},</if>
            <if test="mountLimit != null  and mountLimit != ''">mountLimit = #{mountLimit},</if>
        </trim>
        <if test="account != null  and account != ''">where account = #{account}</if>
    </update>

    <delete id="deleteAlipayMediumEntityById" parameterType="Long">
        delete
        from alipay_medium
        where id = #{id}
    </delete>

    <delete id="deleteAlipayMediumEntityByIds" parameterType="String">
        delete from alipay_medium where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>