<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayProductMapper">
    
    <resultMap type="AlipayProduct" id="AlipayProductResult">
        <result property="id"    column="id"    />
        <result property="productid"    column="productId"    />
        <result property="productcode"    column="productCode"    />
        <result property="productname"    column="productName"    />
        <result property="describe"    column="describe"    />
        <result property="createtime"    column="createTime"    />
        <result property="submittime"    column="submitTime"    />
        <result property="status"    column="status"    />
        <result property="retain1"    column="retain1"    />
        <result property="retain2"    column="retain2"    />
        <result property="retain3"    column="retain3"    />
        <result property="retain4"    column="retain4"    />
    </resultMap>

    <sql id="selectAlipayProductVo">
        select id, productId, productCode, productName, describe, createTime, submitTime, status, retain1, retain2, retain3, retain4 from alipay_product
    </sql>

    <select id="selectAlipayProductList" parameterType="AlipayProduct" resultMap="AlipayProductResult">
        <include refid="selectAlipayProductVo"/>
        <where>  
            <if test="productid != null  and productid != ''"> and productId = #{productid}</if>
            <if test="productcode != null  and productcode != ''"> and productCode = #{productcode}</if>
            <if test="productname != null  and productname != ''"> and productName like concat('%', #{productname}, '%')</if>
            <if test="describe != null  and describe != ''"> and describe = #{describe}</if>
            <if test="createtime != null "> and createTime = #{createtime}</if>
            <if test="submittime != null "> and submitTime = #{submittime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="retain1 != null  and retain1 != ''"> and retain1 = #{retain1}</if>
            <if test="retain2 != null  and retain2 != ''"> and retain2 = #{retain2}</if>
            <if test="retain3 != null  and retain3 != ''"> and retain3 = #{retain3}</if>
            <if test="retain4 != null  and retain4 != ''"> and retain4 = #{retain4}</if>
        </where>
    </select>
    
    <select id="selectAlipayProductById" parameterType="Long" resultMap="AlipayProductResult">
        <include refid="selectAlipayProductVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlipayProduct" parameterType="AlipayProduct" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productid != null  and productid != ''">productId,</if>
            <if test="productcode != null  and productcode != ''">productCode,</if>
            <if test="productname != null  and productname != ''">productName,</if>
            <if test="describe != null  and describe != ''">describe,</if>
            <if test="createtime != null ">createTime,</if>
            <if test="submittime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="retain1 != null  and retain1 != ''">retain1,</if>
            <if test="retain2 != null  and retain2 != ''">retain2,</if>
            <if test="retain3 != null  and retain3 != ''">retain3,</if>
            <if test="retain4 != null  and retain4 != ''">retain4,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productid != null  and productid != ''">#{productid},</if>
            <if test="productcode != null  and productcode != ''">#{productcode},</if>
            <if test="productname != null  and productname != ''">#{productname},</if>
            <if test="describe != null  and describe != ''">#{describe},</if>
            <if test="createtime != null ">#{createtime},</if>
            <if test="submittime != null ">#{submittime},</if>
            <if test="status != null ">#{status},</if>
            <if test="retain1 != null  and retain1 != ''">#{retain1},</if>
            <if test="retain2 != null  and retain2 != ''">#{retain2},</if>
            <if test="retain3 != null  and retain3 != ''">#{retain3},</if>
            <if test="retain4 != null  and retain4 != ''">#{retain4},</if>
         </trim>
    </insert>

    <update id="updateAlipayProduct" parameterType="AlipayProduct">
        update alipay_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productid != null  and productid != ''">productId = #{productid},</if>
            <if test="productcode != null  and productcode != ''">productCode = #{productcode},</if>
            <if test="productname != null  and productname != ''">productName = #{productname},</if>
            <if test="describe != null  and describe != ''">describe = #{describe},</if>
            <if test="createtime != null ">createTime = #{createtime},</if>
            <if test="submittime != null ">submitTime = #{submittime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="retain1 != null  and retain1 != ''">retain1 = #{retain1},</if>
            <if test="retain2 != null  and retain2 != ''">retain2 = #{retain2},</if>
            <if test="retain3 != null  and retain3 != ''">retain3 = #{retain3},</if>
            <if test="retain4 != null  and retain4 != ''">retain4 = #{retain4},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayProductById" parameterType="Long">
        delete from alipay_product where id = #{id}
    </delete>

    <delete id="deleteAlipayProductByIds" parameterType="String">
        delete from alipay_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>