<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayDealOrderAppMapper">

    <resultMap type="AlipayDealOrderApp" id="AlipayDealOrderAppResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="orderId"    />
        <result property="orderType"    column="orderType"    />
        <result property="orderAccount"    column="orderAccount"    />
        <result property="orderStatus"    column="orderStatus"    />
        <result property="dealDescribe"    column="dealDescribe"    />
        <result property="orderAmount"    column="orderAmount"    />
        <result property="orderIp"    column="orderIp"    />
        <result property="appOrderId"    column="appOrderId"    />
        <result property="feeId"    column="feeId"    />
        <result property="notify"    column="notify"    />
        <result property="back"    column="back"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="createTime"    column="createTime"    />
        <result property="status"    column="status"    />
        <result property="retain1"    column="retain1"    />
        <result property="retain2"    column="retain2"    />
        <result property="retain3"    column="retain3"    />
        <result property="currency" column="currency"/>
        <result property="txhash" column="txhash"/>
    </resultMap>

    <sql id="selectAlipayDealOrderAppVo">
        select id, orderId, currency , orderType, orderAccount, orderStatus, dealDescribe, orderAmount, orderIp, appOrderId, feeId, notify, back, submitTime, createTime, status, retain1, retain2, retain3 , txhash from alipay_deal_order_app
    </sql>

    <select id="selectAlipayDealOrderAppList" parameterType="AlipayDealOrderApp" resultMap="AlipayDealOrderAppResult">
        <include refid="selectAlipayDealOrderAppVo"/>
        <where>
            createTime between #{params.dayStart} and #{params.dayEnd}
            <if test="orderType != null "> and orderType = #{orderType}</if>
            <if test="orderId != null and orderId != ''">and orderId = #{orderId}</if>
            <if test="orderAccount != null  and orderAccount != ''"> and orderAccount = #{orderAccount}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and orderStatus = #{orderStatus}</if>
            <if test="dealDescribe != null  and dealDescribe != ''"> and dealDescribe = #{dealDescribe}</if>
            <if test="orderAmount != null "> and orderAmount = #{orderAmount}</if>
            <if test="orderIp != null  and orderIp != ''"> and orderIp = #{orderIp}</if>
            <if test="appOrderId != null  and appOrderId != ''"> and appOrderId = #{appOrderId}</if>
            <if test="feeId != null "> and feeId = #{feeId}</if>
            <if test="notify != null  and notify != ''"> and notify = #{notify}</if>
            <if test="back != null  and back != ''"> and back = #{back}</if>
      <!--      <if test="submitTime != null "> and submitTime = #{submitTime}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>-->
            <if test="status != null "> and status = #{status}</if>
            <if test="retain1 != null  and retain1 != ''"> and retain1 = #{retain1}</if>
            <if test="retain2 != null  and retain2 != ''"> and retain2 = #{retain2}</if>
            <if test="retain3 != null  and retain3 != ''"> and retain3 = #{retain3}</if>
            <if test="currency != null  and currency != ''">and currency = #{currency}</if>
        </where>
        order by id desc
    </select>

    <select id="selectAlipayDealOrderAppById" parameterType="Long" resultMap="AlipayDealOrderAppResult">
        <include refid="selectAlipayDealOrderAppVo"/>
        where id = #{id}
    </select>

    <insert id="insertAlipayDealOrderApp" parameterType="AlipayDealOrderApp" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_deal_order_app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">orderId,</if>
            <if test="orderType != null ">orderType,</if>
            <if test="orderAccount != null  and orderAccount != ''">orderAccount,</if>
            <if test="orderStatus != null  and orderStatus != ''">orderStatus,</if>
            <if test="dealDescribe != null  and dealDescribe != ''">dealDescribe,</if>
            <if test="orderAmount != null ">orderAmount,</if>
            <if test="orderIp != null  and orderIp != ''">orderIp,</if>
            <if test="appOrderId != null  and appOrderId != ''">appOrderId,</if>
            <if test="feeId != null ">feeId,</if>
            <if test="notify != null  and notify != ''">notify,</if>
            <if test="back != null  and back != ''">back,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="status != null ">status,</if>
            <if test="retain1 != null  and retain1 != ''">retain1,</if>
            <if test="retain2 != null  and retain2 != ''">retain2,</if>
            <if test="retain3 != null  and retain3 != ''">retain3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="orderType != null ">#{orderType},</if>
            <if test="orderAccount != null  and orderAccount != ''">#{orderAccount},</if>
            <if test="orderStatus != null  and orderStatus != ''">#{orderStatus},</if>
            <if test="dealDescribe != null  and dealDescribe != ''">#{dealDescribe},</if>
            <if test="orderAmount != null ">#{orderAmount},</if>
            <if test="orderIp != null  and orderIp != ''">#{orderIp},</if>
            <if test="appOrderId != null  and appOrderId != ''">#{appOrderId},</if>
            <if test="feeId != null ">#{feeId},</if>
            <if test="notify != null  and notify != ''">#{notify},</if>
            <if test="back != null  and back != ''">#{back},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="retain1 != null  and retain1 != ''">#{retain1},</if>
            <if test="retain2 != null  and retain2 != ''">#{retain2},</if>
            <if test="retain3 != null  and retain3 != ''">#{retain3},</if>
         </trim>
    </insert>

    <update id="updateAlipayDealOrderApp" parameterType="AlipayDealOrderApp">
        update alipay_deal_order_app
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">orderId = #{orderId},</if>
            <if test="orderType != null ">orderType = #{orderType},</if>
            <if test="orderAccount != null  and orderAccount != ''">orderAccount = #{orderAccount},</if>
            <if test="orderStatus != null  and orderStatus != ''">orderStatus = #{orderStatus},</if>
            <if test="dealDescribe != null  and dealDescribe != ''">dealDescribe = #{dealDescribe},</if>
            <if test="orderAmount != null ">orderAmount = #{orderAmount},</if>
            <if test="orderIp != null  and orderIp != ''">orderIp = #{orderIp},</if>
            <if test="appOrderId != null  and appOrderId != ''">appOrderId = #{appOrderId},</if>
            <if test="feeId != null ">feeId = #{feeId},</if>
            <if test="notify != null  and notify != ''">notify = #{notify},</if>
            <if test="back != null  and back != ''">back = #{back},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="retain1 != null  and retain1 != ''">retain1 = #{retain1},</if>
            <if test="retain2 != null  and retain2 != ''">retain2 = #{retain2},</if>
            <if test="retain3 != null  and retain3 != ''">retain3 = #{retain3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlipayDealOrderAppById" parameterType="Long">
        delete from alipay_deal_order_app where id = #{id}
    </delete>

    <delete id="deleteAlipayDealOrderAppByIds" parameterType="String">
        delete from alipay_deal_order_app where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
