<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增用户费率')"/>
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-rate-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">商户账户：</label>
            <div class="col-sm-8" th:if="${merList.size()} ne 0">
                <select class="form-control" name="userId" id="userId" required>
                    <option value="">请选择商户账户</option>
                    <option th:each="user : ${merList}" th:text="'【商户账户】：'+${user.userId}+'，【商户名称】：' + ${user.userName}" th:value="${user.userId}"></option>
                </select>
            </div>
            <div class="col-sm-8" th:if="${rateList.size()} eq 0">
                <input class="form-control" type="text" name="flag" style="border-width: 0;background-color:white; color: red;" value="未找到任何商户，请新增商户" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">渠道名称：</label>
            <div class="col-sm-8" th:if="${productList.size()} ne 0">
                <select class="form-control" name="channelId" id="channelId" required>
                    <option value="">请选择渠道名称</option>
                    <option th:each="product : ${rateList}" th:text="${product.userName}" th:value="${product.userId}"></option>
                </select>
            </div>
            <div class="col-sm-8" th:if="${rateList.size()} eq 0">
                <input class="form-control" type="text" name="flag" style="border-width: 0;background-color:white; color: red;" value="未找到任何渠道名称，请新增渠道" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">产品类型：</label>
            <div class="col-sm-8" th:if="${productList.size()} ne 0">
                <select class="form-control" name="payTypr" id="payTypr" required>
                    <option value="">请选择产品类型</option>
                    <option th:each="product : ${productList}" th:text="${product.productName}" th:value="${product.productId}"></option>
                </select>
            </div>
            <div class="col-sm-8" th:if="${productList.size()} eq 0">
                <input class="form-control" type="text" name="flag" style="border-width: 0;background-color:white; color: red;" value="未找到任何产品类型" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">费率类型：</label>
            <div class="col-sm-8">
                <select class="form-control" id="feeType" name="feeType" th:with="type=${@dict.getType('feeType')}" required>
                    <option value="">请选择费率类型</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">商户费率：</label>
            <div class="col-sm-8">
                <input name="fee" class="form-control" type="number"  min="0.00" placeholder="请输入商户费率" required>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js" />
<script type="text/javascript">
    const prefix = ctx + "alipay/rate"
    $("#form-rate-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-rate-add').serialize());
        }
    }
</script>
</body>
</html>