<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用户通道费率')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-rate-edit">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">费率编号：</label>
            <div class="col-sm-8">
                <textarea class="form-control" id="ids" name="ids" rows="5" style="display:none;">[[${ids}]]</textarea>
                <textarea class="form-control" id="rete" maxlength="500" name="rete" required
                          rows="5">[[${rete}]]</textarea>

                <!--    <input name="ids"  th:field="${ids}"   class="form-control"   required>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">渠道名称：</label>
            <div class="col-sm-8">
                <select class="form-control  " id="channelId" name="channelId">
                    <option value="">请选择渠道类型</option>
                    <option th:each="product : ${rateList}" th:text="${product.userName}"
                            th:value="${product.userId}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    const prefix = ctx + "alipay/rate";

    function submitHandler() {
        let ids = $('#ids').val()
        let channel = $("#channelId").val()
        var date = {'ids': ids, 'channel': channel}
        $.operate.save(prefix + "/edits", date);
    }
</script>
</body>
</html>