<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商户费率列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								商户ID：<input type="text" name="merchantId"/>
							</li>
							<li>
								商户名称：<input type="text" name="merchantName"/>
							</li>
							<li>
								产品名称：<select name="productName" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:value="0">启用</option>
									<option th:value="1">永久停用</option>
									<option th:value="2">待自启动启用</option>
									<option th:value="3">自动暂停</option>
									<option th:value="4">启用区间</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="merchant:auth:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	        </div>
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('merchant:auth:edit')}]];
		var removeFlag = [[${@permission.hasPermi('merchant:auth:remove')}]];
		var prefix = ctx + "merchant/info";
		
		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "merchantId",
		        modalName: "商户费率",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: 'ID编号'
		        },
		        {
		            field: 'merchantId',
		            title: '商户ID'
		        },
		        {
		            field: 'merchantName',
		            title: '商户名称'
		        },
		        {
		            field: 'productName',
		            title: '产品名称'
		        },
		        {
		            field: 'agentName',
		            title: '代理商名称'
		        },
		        {
		            field: 'merchantRate',
		            title: '商户费率'
		        },
				{
					visible: editFlag == 'hidden' ? false : true,
					title: '状态',
					align: 'center',
					formatter: function (value, row, index) {
						return statusTools(row);
					}
				},
				{
					field: 'amountRange',
					title: '金额区间（元）'
				},
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="showBalance(\'' + row.merchantId + '\')"><i class="fa fa-user"></i>修改</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		
		/* 商户管理-账户余额 */
		function showBalance(mercahntId) {
		    var url = prefix + '/authUser/' + mercahntId;
		    $.modal.openTab("商户账户余额", url);
		}
		
		/* 商戶状态显示 */
		function statusTools(row) {
		    if (row.status == 1) {
    			return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.merchantId + '\')"></i> ';
    		} else {
    			return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.merchantId + '\')"></i> ';
    		}
		}
		
		/* 商户管理-关闭 */
		function disable(merchantId) {
			$.modal.confirm("确认要关闭此商户吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "merchantId": merchantId, "status": 1 });
		    })
		}

		/* 商户管理-开通 */
		function enable(merchantId) {
			$.modal.confirm("确认要开通此商戶吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "merchantId": merchantId, "status": 0 });
		    })
		}
	</script>
</body>
</html>