<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('会员提现记录列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台订单：</span>
                            <input type="text" name="orderId"/>
                        </li>

                        <li>
                            <span>用户账号：</span>
                            <input type="text" name="userId"/>
                        </li>
                        <li>
                            <span>申请人：</span>
                            <input type="text" name="accname"/>
                        </li>
                        <li>
                            <span>商户代付订单号：</span>
                            <input name="appOrderId" type="text"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus"
                                    th:with="type=${@dict.getType('withdrawal_status')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        <li class="select-selectpicker">
                            <label>是否为API： </label>
                            <select data-none-selected-text="请选择" id="retain1" name="retain1">
                                <option value="">所有</option>
                                <option value="2">api代付</option>
                                <option value="1">后台代付</option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>货币类型： </label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="currency"
                                    name="currency" th:with="type=${@dict.getType('currency')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>配置出款渠道：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="witChannel"
                                    name="witChannel">
                                <option value="">所有</option>
                                <option th:each="channel : ${channelList}" th:text="${channel.userName}"
                                        th:value="${channel.userId}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>实际除款渠道：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="channelId" name="channelId">
                                <option value="">所有</option>
                                <option th:each="channel : ${channelList}" th:text="${channel.userName}"
                                        th:value="${channel.userId}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="withdrawal:alipay:merchant:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-primary" onclick="$.operate.statistics('统计当天代付数据')"
               shiro:hasPermission="wit:order:statistics:chanel">
                <i class="fa fa-bar-chart"></i> 当天数据统计
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const approvalFlag = [[${@permission.hasPermi('merchant:withdrawal:approval')}]];
    const detailFlag = [[${@permission.hasPermi('withdrawal:merchant:detail')}]];
    const orderStatus = [[${@dict.getType('withdrawal_status')}]];
    const prefix = ctx + "alipay/withdrawal";
    const prefix_ver = ctx + "verify/identity";
    $(function () {
        var options = {
            url: prefix + "/merchant/list",
            updateUrl: prefix + "/merchant/edit/{id}",
            detailUrl: prefix + "/merchant/detail/{id}",
            ethFeeUrl: prefix + "/merchant/ethFee/{id}",
            statisticsUrl: prefix + "/statistics/merchant/channelWit",
            exportUrl: prefix + "/merchant/export",
            modalName: "会员提现记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '数据ID',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '订单',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '系统订单：' + row.orderId + '</li>'
                        table += '<li>' + '商户订单：' + row.appOrderId + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                /* {
                     field: 'appOrderId',
                     title: '商户订单'
                 },*/
                {
                    field: 'apply',
                    title: '申请人',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '商户账户：' + row.userId + '</li>'
                        table += '<li>' + '申请人：' + row.apply + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                /*  {
                      field: 'userId',
                      title: '商户账户'
                  },*/
                {
                    field: 'orderStatus',
                    title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderStatus, value);
                    }
                },
                {
                    field: 'bankNo',
                    title: '银行信息',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        if (row.orderStatus == 1 && row.currency != 'CNY') {
                            table += '<li>' + '<i class=\"btn btn-link btn-xs\" style="cursor:pointer;" title="地址"onclick="openScan(\'' + row.bankNo + '\')"><i class="fa fa-google-wallet"></i> 支付地址：' + row.bankNo + '</i> ' + '</li>';
                        } else {
                            table += '<li>' + '银行卡号：' + row.bankNo + '</li>'
                        }
                        table += '<li>' + '开户人：' + row.accname + '</li>'
                        table += '<li>' + '开户行：' + row.bankName + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'withdrawType',
                    title: '提现类型',
                    formatter: function (value, row, index) {
                        if (row.withdrawType === '1') {
                            return '商户提现';
                        } else if (row.withdrawType === '2') {
                            return '卡商提现';
                        }
                    }
                },
                {
                    field: 'amount',
                    title: '金额情况',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '代付金额：' + row.amount + '</li>'
                        table += '<li>' + '手续费：' + row.fee + '</li>'
                        table += '<li>' + '实际到账：' + row.actualAmount + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                /* {
                     field: 'fee',
                     title: '手续费'
                 },
                 {
                     field: 'actualAmount',
                     title: '实际到账'
                 },*/
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'witChannel',
                    title: '渠道情况',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '配置出款渠道：' + row.witChannel + '</li>'
                        table += '<li>' + '实际出款渠道：' + row.channelId + '</li>'
                        table += '<li>' + '代付产品类型：' + row.witType + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                /*{
                    field: 'channelId',
                    title: '实际出款渠道'
                },
                {
                    field: 'witType',
                    title: '代付产品类型'
                },*/
                {
                    field: 'comment',
                    title: '情况'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return check(row);
                    }
                }]
        };
        $.table.init(options);
    });

    /* 状态显示 */
    function check(row) {
        var actions = [];
        if (row.orderStatus === '1') {
            actions.push('<a class="btn btn-success btn-xs ' + approvalFlag + '" href="javascript:void(0)" onclick="$.operate.approval(\'' + row.id + '\')"><i class="fa fa-shield"></i> 审核</a>')
        } else if (row.orderStatus === '2' || row.orderStatus === '3') {
            if (row.orderStatus === '2') {
                actions.push('<a class="btn btn-success btn-xs ' + approvalFlag + '" href="javascript:void(0)" onclick="$.operate.approval(\'' + row.id + '\')"><i class="fa fa-angellist"></i>回滚</a>')
            }
            actions.push('<a class="btn btn-primary btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i> 详情</a>');
            if (row.orderStatus === '2' && row.ethFee === 0 && row.currency === "USDT") {
                actions.push('<a class="btn btn-danger btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.ethFee(\'' + row.id + '\')"><i class="fa fa-search"></i> 结算eth矿工费</a>');
            }
        }
        return actions.join('');
    }

    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });

    function openScan(context) {
        // ethereum:0x28250971cF8bB17eDB2fD31e72C7fD352ae0eFCB?contractAddress=0xdac17f958d2ee523a2206206994597c13d831ec7&decimal=6&value=0
        var qr = 'https://cli.im/api/qrcode/code?text=' + 'ethereum:' + context + '?decimal=6&value=0'
        $.modal.openCode("请扫码付款", qr, "400px", "400px", null);
    }

</script>
</body>
</html>
