<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('会员提现记录列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台订单：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <span>用户账号：</span>
                            <input type="text" name="userId"/>
                        </li>
                        <li>
                            <span>申请人：</span>
                            <input type="text" name="accname"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('withdrawal_status')}"
                                    class="selectpicker" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="merchant:withdrawal:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const orderStatus = [[${@dict.getType('withdrawal_status')}]];
    const prefix = ctx + "alipay/withdrawal";

    $(function () {
        var options = {
            url: prefix + "/merchant/list",
            updateUrl: prefix + "/merchant/edit/{id}",
            exportUrl: prefix + "/merchant/export",
            modalName: "会员提现记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '数据ID',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '订单号'
                },
                {
                    field: 'userId',
                    title: '用户账户'
                },
                {

                    field: 'bankNo',
                    title: '银行卡号'
                },
                {
                    field: 'accname',
                    title: '提现人(后台)'
                },
                {
                    field: 'withdrawType',
                    title: '提现类型',
                    formatter: function (value, row, index) {
                        if (row.withdrawType === '1') {
                            return '商户提现';
                        } else if (row.withdrawType === '2') {
                            return '码商提现';
                        }
                    }
                },
                {
                    field: 'orderStatus',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderStatus, value);
                    }
                },
                {
                    field: 'bankName',
                    title: '开户行姓名'
                },
                {
                    field: 'amount',
                    title: '提现金额'
                },
                {
                    field: 'fee',
                    title: '手续费'
                },
                {
                    field: 'actualAmount',
                    title: '实际到账'
                },
                {
                    field: 'mobile',
                    title: '手机号'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>