<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('流水订单记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <span>流水订单号：</span>
                                <input type="text" id="orderId" name="orderId"/>
                            </li>
                            <li>
                                <span>关联订单号：</span>
                                <input type="text" name="associatedId"/>
                            </li>
                            <li>
                                <span>关联账户：</span>
                                <input type="text" name="orderAccount"/>
                            </li>
                            <li>
                                <span>流水类型：</span>
                                <select name="runOrderType" th:with="type=${@dict.getType('runOrderType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <span>流水关联ip：</span>
                                <input type="text" name="generationIp"/>
                            </li>
                            <li class="select-time">
                                <span>流水创建时间：</span>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                            </li>
                            <li>
                                <span>流水状态：</span>
                                <select name="runType" th:with="type=${@dict.getType('runType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="alipay:running:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('alipay:running:edit')}]];
        var removeFlag = [[${@permission.hasPermi('alipay:running:remove')}]];
        var prefix = ctx + "alipay/running";
        var orderRunType = [[${@dict.getType('runOrderType')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "流水订单记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '数据id',
                    visible: false
                },
                {
                    field : 'orderId', 
                    title : '流水订单id '
                },
                {
                    field : 'associatedId', 
                    title : '关联订单号 '
                },
                {
                    field : 'orderAccount', 
                    title : '关联账户'
                },
                {
                    field : 'runOrderType', 
                    title : '流水类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(orderRunType, value);
                    }
                },
                {
                    field : 'amount', 
                    title : '流水金额'
                },
                /*{
                    field : 'generationIp', 
                    title : '流水关联ip'
                },*/
              /*  {
                    field : 'dealDescribe', 
                    title : '流水描述'
                },*/
               /* {
                    field : 'acountR', 
                    title : '入款记录账户'
                },
                {
                    field : 'accountW', 
                    title : '出款记录账户'
                },*/
                {
                    field : 'createTime', 
                    title : '创建时间'
                },
                {
                    field : 'runType', 
                    title : '流水状态',
                    formatter: function (value, item, index) {
                        if (item.runType == '1') {
                            return '<span>自然状态</span>';
                        }else if (item.runType == '2') {
                            return '<span>人工操作</span>';
                        }
                    }
                },
                {
                    field : 'amountType', 
                    title : '经济状态',
                    formatter: function (value, item, index) {
                        if (item.amountType == '1') {
                            return '<span>支出</span>';
                        }else if (item.amountType == '0') {
                            return '<span>收入</span>';
                        }
                    }
                },
                {
                    field : 'amountNow', 
                    title : '当前账户余额'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>