<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增渠道数据')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-fund-refund" >
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">渠道Id：</label>
            <div class="col-sm-9">
                <input id="userId" name="userId"   class="form-control" type="text"  >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">渠道名：</label>
            <div class="col-sm-9">
                <input     id="userName" name="userName" class="form-control" placeholder="请输入渠道名" required>
            </div>
        </div>
       <!-- <div class="form-group">
            <label class="col-sm-3 control-label is-required">绑定产品：</label>
            <div class="col-sm-9">
                <textarea  id="userNode" name="userNode" class="form-control" placeholder="请输入产品编号" required></textarea>
            </div>
        </div>-->
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "alipay/channel"
    $("#form-fund-refund").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addChannel", $('#form-fund-refund').serialize());
        }
    }
</script>
</body>
</html>