<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户资金账户列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>渠道账户：</span>
                            <input type="text" name="userId"/>
                        </li>
                        <li>
                            <span>渠道名称：</span>
                            <input type="text" name="userName"/>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()"  >
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-success" onclick="$.operate.add()" >
                <i class="fa fa-plus"></i>新增渠道商户
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    var refundFlag = [[${@permission.hasPermi('fund:refund:add')}]];
    var deductFlag = [[${@permission.hasPermi('fund:refund:deduct')}]];
    var editChannel = [[${@permission.hasPermi('fund:refund:edit')}]];
    var editFlag = [[${@permission.hasPermi('fund:refund:status')}]];
    var userType = [[${@dict.getType('userType')}]];
    var prefix = ctx + "alipay/channel";
    var prefix1 = ctx + "alipay/fund";
    const prefixChannel = ctx + "alipay/userInfo";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix1 + "/deduct/{id}",//渠道减款
            otherUrl: prefix + "/edit/{userId}",//渠道数据编辑
            openUrl: prefix1 + "/refund/{userId}",//渠道加款
            exportUrl: prefix + "/export",
            modalName: "渠道资金账户",
            columns: [{
                checkbox: true
            },
                {field: 'id', title: '数据ID', visible: false},
                {field: 'userId', title: '渠道账户 '},
                {field: 'userName', title: '账户名称 '},
                {field: 'accountBalance', title: '可取现金额 '},
                {field: 'createTime', title: '创建时间'},
                {
                    field: 'status', title: '热点&冷门', formatter: function (value, row, index) {
                        if (row.status == 0) {
                            return '<a class="btn btn-danger btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="hut(\'' + row.userId + '\')"><i class="fa fa-edit"></i>点击切换为热点类型</a> '
                        } else if (row.status == 1) {
                            return '<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="cood(\'' + row.userId + '\')"><i class="fa fa-edit"></i>点击切换为冷门类型</a> '
                        }
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '渠道总状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'switchs');
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '交易状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'receiveOrderState');
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '代付状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'remitOrderState');
                    }
                },
                {
                    visible: true,
                    field: "minAmount",
                    title: '代付最小金额',
                    align: 'center',
                }, {
                    visible: true,
                    field: "maxAmount",
                    title: '充值最小金额',
                    align: 'center',
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + refundFlag + '" onclick="$.operate.openAccount(\'' + row.userId + '\',\'资金账户加款\',\'openUrl\')"><i class="fa fa-plus"></i>加款</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + deductFlag + '" onclick="$.operate.openAccount(\'' + row.userId + '\',\'资金账户减款\',\'updateUrl\')"><i class="fa fa-minus"></i>减款</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + editChannel + '" onclick="$.operate.openAccount(\'' + row.userId + '\',\'编辑\',\'otherUrl\')"><i class="fa fa-archive"></i>渠道修改</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function hut(id) {
        let msg = "确认要将此产品置为【热点】吗？";
        let val = 1;
        return auto(id, msg, val);
    }

    function cood(id) {
        let msg = "确认要将此产品置为【冷门】吗？";
        let val = 0;
        return auto(id, msg, val);
    }

    function auto(id, msg, status) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/updateStatus", {
                "userId": id,
                "status": status
            });
        })
    }

    /* 用户状态显示 */
    function statusTools(row, param) {
        if (param === 'switchs') {
            if (row.switchs == 0) {
                let msg = "确认要【启用】此渠道的【用户状态】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认要【停用】此渠道的【用户状态】吗？";
                let val = 0;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        } else if (param === 'receiveOrderState') {
            if (row.receiveOrderState == 2) {
                let msg = "确认要【开启】此渠道的【交易状态】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认要【关闭】此渠道的【交易状态】吗？";
                let val = 2;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        } else if (param === 'remitOrderState') {
            if (row.remitOrderState == 2) {
                let msg = "确认要【开启】此渠道的【代付状态】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认要【关闭】此渠道的【代付状态】吗？";
                let val = 2;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.userId + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        }
    }

    /* 此渠道的管理-停用 */
    function disable(userId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefixChannel + "/changeStatus", {
                "userId": userId,
                "params[paramKey]": param,
                "params[paramValue]": val
            });
        })
    }

    /* 此渠道的管理-启用 */
    function enable(userId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefixChannel + "/changeStatus", {
                "userId": userId,
                "params[paramKey]": param,
                "params[paramValue]": val
            });
        })
    }
</script>
</body>
</html>